<div class="col-md-12 col-md-offset-1" style="margin: 0;">

<link rel="stylesheet" href="styles/css/easyTree.css">

<style type = "text/css" scoped>
    .dorotation {
        -webkit-animation-name: rotation;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: rotation;
        -moz-animation-duration: 10s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -o-animation-name: rotation;
        -o-animation-duration: 10s;
        -o-animation-iteration-count: infinite;
        -o-animation-timing-function: linear;
        animation-name: rotation;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes rotation {
        0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
        100% {-webkit-transform:rotate(360deg);-moz-transform:rotate(720deg);-o-transform:rotate(360deg);transform:rotate(360deg);}
    }

    .easy-tree li > span > a:focus {
        color: #ff6c60;
    }

    .tree-word {
        width: 405px;
    }

    mark {
        background-color: #ff9;
    }

    .easy-tree li.parent_li > span.tree-word-parametr {
        width: 130px;
        margin: 0 10px;
        text-align: center;
        cursor: default;
        border: none;
        color: #000;
    }

    .easy-tree li.parent_li > span.tree-word-parametr:hover {
        background: none;
    }

    .tree-word-parametr-header {
        color: #000;
        height: 40px;
    }

    .tree-word-parametr-header > span {
        font-size: 20px;
    }

    .tree-word-parametr-header .first {
        width: 500px;
        display: inline-block;
        padding-left: 10px;
    }

    .tree-word-parametr-header .first i {
        margin-right: 10px;
        cursor: pointer;
    }

    .tree-word-parametr-header .any {
        width: 130px;
        margin: 0 10px;
        text-align: center;
        display: inline-block;
    }

    .tree-word-parametr-input {
        width: 20px;
        height: 20px;
        text-align: center;
        border: none;
    }

    .easy-tree .dictionary-bottom-block {
        color:#000;
        margin-top: 30px;
    }

    .ls-tree-view{
        background: none;
    }

    .ls-tree-view > ul{
        padding: 0;
        margin: 0;
    }

    .ls-tree-view ul li{
        font-size: 14px;
    }

    .ls-tree-view li:before{
        border: 2px solid #e3dfd8;
    }

    .ls-tree-view li:after {
        border-top: 1px solid #e3dfd8;
    }


    .ls-tree-view li:last-child:before {
        height: 25px;
    }

    .ls-tree-view li > span {
        border: 1px solid #e3dfd8;
        border-radius: 1px;
    }


    .ls-tree-view ul li span,
    .ls-tree-view ul li a{
        color: #333;
        background-color: #a09b9b;

    }

    .ls-tree-view li > span span.glyphicon{
        color: #b4b0a9;
        margin-right: 5px;
    }

    .ls-tree-view li.parent_li > span > span.glyphicon{
        margin-right: 10px;
    }

    .ls-tree-view li.parent_li > span:hover,
    .ls-tree-view li.parent_li > span:hover + ul li span {
        background: #E0E0E0;
    }


    .ls-tree-view  .easy-tree-toolbar {
        background-color: inherit;
        position: relative;
    }

    .ls-tree-view .easy-tree-toolbar > div > button{
        margin: 5px;
    }

    .ls-tree-view  .easy-tree-toolbar .create{
        float: left;
    }

    .ls-tree-view  .easy-tree-toolbar .create .btn{
        background-color: #5bc0de;
        border-color: #46b8da;
        color: #fff;
        float: left;
    }

    .ls-tree-view  .easy-tree-toolbar .edit .btn{
        background-color: #f0ad4e;
        border-color: #eea236;
        color: #fff;
    }

    .ls-tree-view  .easy-tree-toolbar .remove .btn{
        background-color: #ff7878;
        border-color: #ff7878;
        color: #fff;
    }


    .ls-tree-view .easy-tree-toolbar .create .input-group{
        top: 0;
    }


    .ls-tree-view .easy-tree-toolbar .create .input-group-btn{
        width: inherit;
    }

    .ls-tree-view .easy-tree-toolbar .create .input-group .form-control{
        top: 5px;
        height: 30px;
    }

    .ls-tree-view .easy-tree-toolbar .create .input-group span.input-group-btn > .btn{
        height: 30px;
        line-height: 15px;
        top: 5px;
    }
    </style>

    <div class="panel-body col-md-12" style="{{$ctrl.treeType == 'readonly' ? 'pointer-events: none; background: rgba(200,200,200,0.1);' : ''}} margin: 0;">
        <div class="easy-tree ls-tree-view">
            <div class="easy-tree-toolbar">
                <div ng-show="false" class="create" ng-if="$ctrl.isAdd">
                    <button style="float: left;" class="btn btn-default btn-sm btn-success" title="Add to" ng-click="$ctrl.add()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <div class="input-group" style="float: left;">
                        <input type="text" class="form-control" ng-model="$ctrl.nameToAdd" placeholder="Enter new name to add">
                    </div>
                </div>

                <div class="create edit" ng-if="$ctrl.isEdit && $ctrl.treeType != 'full_minus_2' && $ctrl.treeType != 'readonly'" >
                    <button style="background:#428BCA; border-width:0px; margin-right: -2px; height: 31px;" class="btn btn-default btn-sm btn-primary" title="Editing" ng-click="false && $ctrl.edit()">
                        <span style="border-width:0px" class="glyphicon glyphicon-edit"></span>
                    </button>
                    <div class="input-group">
                        <input id="editField" type="text" class="form-control" ng-model="$ctrl.nodeName" ng-change="$ctrl.editFieldChanged()" placeholder="Enter new name to edit">
                    </div>
                </div>

				<div class="tree-word-parametr-header" ng-show="$ctrl.tree && $ctrl.tree.DictionaryCategory && $ctrl.tree && $ctrl.tree.DictionaryCategory.length" style="padding-top: 5px;">
					<span style="color:#666; vertical-align: 2px; opacity:0; width:520px" class="first"><i class="glyphicon glyphicon-plus" ng-click="$ctrl.reset()"></i>Create new dictionary</span>
					<span style="color:#888; font-size:16px" class="any" >Score</span>
					<span style="color:#888; font-size:16px" class="any" >Exact</span>
					<span style="color:#888; font-size:16px" class="any" >Mandatory</span>
					<span ng-hide="$ctrl.treeType == 'readonly' || $ctrl.treeType == 'full_minus_2'" style="color:#888; font-size:16px" class="any" >Translation</span>
					<span ng-hide="$ctrl.treeType == 'readonly' || $ctrl.treeType == 'full_minus_2'" style="color:#888; font-size:16px; margin-left:40px" class="any" >Explanation</span>
				</div>

            </div>

            <ul class="nodesRoot" style="clear: both;" ng-if="true">
                <li class="parent_li">
                    <span ng-click="$ctrl.setCurrentNode($ctrl.tree,$ctrl.tree.DictionaryName,'dictionary')">
                        <span style="color:{{$ctrl.tree == $ctrl.currentObj.currentNode ? '#428BCA' : '#b4b0a9'}}" ng-init="$ctrl.tree.DictionaryCategory.isOpen = true" ng-click="$ctrl.tree.DictionaryCategory.isOpen = !$ctrl.tree.DictionaryCategory.isOpen" class="{{$ctrl.tree == $ctrl.currentObj.currentNode ? 'currentNode' : ''}} glyphicon glyphicon-folder-open" title="Collapse branch"></span>
                        <a href="javascript: void(0);" title="Select" style="color:#333" ng-bind="$ctrl.tree.DictionaryName"></a>
                    </span>

					<span ng-click="$ctrl.setCurrentNode($ctrl.tree,$ctrl.tree.DictionaryName,'dictionary'); $ctrl.add(true)" style="border: none; background: transparent; color: #777;" class="fa fa-plus"></span>
                    <ul>
                        <li ng-cloak class="parent_li" ng-repeat="category in $ctrl.tree.DictionaryCategory track by $index">
                            <span ng-click="category.isExpanded = !category.isExpanded" ng-init="$ctrl.setCurrentNode(category,category.CategoryName,'category')" ng-click="$ctrl.setCurrentNode(category,category.CategoryName,'category')">
                                <input  ng-model="category.isPicked" ng-if="$ctrl.treeType == 'full_minus_2' || $ctrl.treeType == 'readonly'" onclick="event.stopPropagation()"  style="vertical-align: -2px;" type="checkbox"/>
								<span style="color:{{category == $ctrl.currentObj.currentNode && $ctrl.currentObj.indication == 'category' ? '#428BCA' : '#b4b0a9'}}" ng-init="$ctrl.initCategoryWord(category)" ng-click="category.CategoryWords.isOpen = !category.CategoryWords.isOpen" class="{{category == $ctrl.currentObj.currentNode && $ctrl.currentObj.indication == 'category' ? 'currentNode' : ''}} glyphicon glyphicon-folder-open" title="Collapse branch"></span>
                                <a href="javascript: void(0);" title="Select" style="color:#333" ng-bind="category.CategoryName"></a>
                            </span>

                            <input type="number" ng-readonly="!category.CategoryName"  ng-disabled="!category.CategoryName" ng-change="$ctrl.MandatoryAtLeastChanged(category)" placeholder="Mandatory at least" style="color:black" ng-model="category.MandatoryAtLeast">

							<span ng-click="$ctrl.setCurrentNode(category,category.CategoryName,'category'); $ctrl.add(true)" style="border: none; background: transparent; color: #777; margin-left:25px" class="fa fa-plus"></span>
							<span ng-click="$ctrl.setCurrentNode(category,category.CategoryName,'category'); $ctrl.remove()" style="border: none; background: transparent; color: #777; margin-left:25px" class="fa fa-minus"></span>


                            <ul ng-show="category.isExpanded">
                                <li class="parent_li" ng-repeat="word in category.CategoryWords track by $index">
                                    <span class="tree-word" ng-init="$ctrl.setCurrentNode(category,$index,'none')" ng-click="$ctrl.setCurrentNode(category,$index,'none')">
                                        <span style="color:{{category == $ctrl.currentObj.currentNode && $ctrl.currentObj.indication == 'none' && $ctrl.currentObj.nodeName == $index ? '#428BCA' : '#b4b0a9'}}" class="{{category == $ctrl.currentObj.currentNode && $ctrl.currentObj.indication == 'none' && $ctrl.currentObj.nodeName == $index ? 'currentNode' : ''}} glyphicon glyphicon-file" title="Collapse branch"></span>
                                        <a href="javascript: void(0);" style="color:#333" title="Select" ng-bind="word.title"></a>
                                    </span>

									<span ng-click="$ctrl.setCurrentNode(category,$index,'none'); $ctrl.remove()" style="border: none; background: transparent; color: #777; margin-left:0px" class="fa fa-minus"></span>

                                    <span class="tree-word-parametr">
                                        <input type="text" style="border: 1px solid #aaa; border-radius: 1px; height:24px; min-width: 50px;" class="tree-word-parametr-input" ng-model="word.score">
                                    </span>
                                    <span class="tree-word-parametr"><input type="checkbox"  ng-model="word.exact" ng-checked="word.exact" aria-label="..."></span>
                                    <span class="tree-word-parametr"><input type="checkbox"  ng-model="word.mandatory" ng-checked="word.mandatory" aria-label="..."></span>
									<span ng-hide="$ctrl.treeType == 'readonly' || $ctrl.treeType == 'full_minus_2'" class="tree-word-parametr"><input type="text" style="width: 145px;"  ng-model="word.translation" aria-label="..."></span>
									<span ng-hide="$ctrl.treeType == 'readonly' || $ctrl.treeType == 'full_minus_2'" class="tree-word-parametr"><input type="text" style="width: 140px; margin-left: 20px"  ng-model="word.explanation" aria-label="..."></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>