<link href="components/dashboard/dashboard.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
<script src="assets/js/fullcalendar/fullcalendar.min.js"></script>
<script>
    function Tab(tab) {
        $("*[class*='tab-content-").css("display", "none");
        $(".tab-content-" + tab).each(function (i, el) {
            var type = $(el).attr("data-block-type");
            $(el).css("display", type || "block");
        });
    }
</script>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div style="">
    <range-chart-pannel profile="$ctrl.profile"></range-chart-pannel>
</div>

<div style="margin-bottom: 25px; margin-top:10px; text-align: right; padding-right: 45px;">
    <span ng-repeat="category in $ctrl.categories" style="margin-left: 20px;">
        <span style="margin-right: 5px; display:inline-block; width:10px; height:10px; background:{{$ctrl.xenonPalette[$index]}}"></span>
        {{category.categoryName}}
    </span>
</div>

<ul class="nav nav-tabs">
    <li class="active">
        <a href="javascript:void(0)" data-toggle="tab" style="background-color: rgba(255,255,255,0.1);"
           onclick="Tab('summary')"><span class="visible-xs"><i class="fa-home"></i></span><span class="hidden-xs">Summary</span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" data-toggle="tab" style="background-color:rgba(255,255,255,0.1);"
           onclick="Tab('timeline')"><span class="visible-xs"><i class="fa-home"></i></span><span class="hidden-xs">Timeline</span>
        </a>
    </li>
</ul>

<div class="tab-content-timeline" style="display:none; height: calc( 100% - 300px );">
    <timeline-pannel profile="$ctrl.profile" categories="$ctrl.categoriesAll"></timeline-pannel>
</div>

<div data-block-type="flex" class="row draggable-portlets tab-content-summary">
    <div class="col-md-3">
        <div class="sorted">
            <div class="panel panel-inverted">

                <div class="panel-heading">
                    <h3 class="panel-title">Overall</h3>
                    <div class="panel-options">
                        <a href="#" data-toggle="panel"> <span class="collapse-icon">&ndash;</span> <span class="expand-icon">+</span> </a> <a href="#" data-toggle="remove">&times;</a>
                    </div>
                </div>

                <div class="panel-body">
                    <details-pannel profile="$ctrl.profile"></details-pannel>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="sorted">
            <div class="panel panel-inverted">
                <div class="panel-heading">
                    <h3 class="panel-title">Maps</h3>
                    <div class="panel-options">
                        <a href="#" data-toggle="panel"> <span class="collapse-icon">&ndash;</span> <span class="expand-icon">+</span> </a> <a href="#" data-toggle="remove">&times;</a>
                    </div>
                </div>
                <div class="panel-body" style="height: 100%;">
                    <map-pannel style="height: 90%; display:block" profile="$ctrl.profile"></map-pannel>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="sorted">
            <div class="panel panel-inverted">
                <div class="panel-heading">
                    <h3 class="panel-title">Dictionaries</h3>
                    <div class="panel-options">
                        <a href="#" data-toggle="panel"> <span class="collapse-icon">&ndash;</span> <span class="expand-icon">+</span> </a> <a href="#" data-toggle="remove">&times;</a>
                    </div>
                </div>

                <div class="panel-body">
                    <dictionaries-pannel categories="$ctrl.categories"></dictionaries-pannel>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row variableHeight draggable-portlets tab-content-summary">
    <div class="col-md-3">
        <div class="sorted">
            <div class="panel panel-inverted">
                <div class="panel-heading">
                    <h3 class="panel-title">Tags Cloud</h3>
                    <div class="panel-options">
                        <a href="#" data-toggle="panel"> <span class="collapse-icon">&ndash;</span> <span class="expand-icon">+</span> </a> <a href="#" data-toggle="remove">&times;</a>
                    </div>
                </div>
                <div class="panel-body">
                    <cloud-pannel profile="$ctrl.profile"></cloud-pannel>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="sorted">
            <div class="panel panel-inverted">
                <div class="panel-heading">
                    <h3 class="panel-title">Friends Link Analysis</h3>
                    <div class="panel-options">
                        <a href="#" data-toggle="panel"> <span class="collapse-icon">&ndash;</span> <span class="expand-icon">+</span> </a> <a href="#" data-toggle="remove">&times;</a>
                    </div>
                </div>
                <div class="panel-body">
                    <link-analysis-pannel update-selected="$ctrl.updateSelectedFriend(info)" update-graph-data="$ctrl.setGraphData(graphData, graphControl)" profile="$ctrl.profile"></link-analysis-pannel>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="sorted">
            <div class="panel panel-inverted">
                <div class="panel-heading">
                    <h3 class="panel-title">Info</h3>
                    <div class="panel-options">
                        <a href="#" data-toggle="panel"> <span class="collapse-icon">&ndash;</span> <span class="expand-icon">+</span> </a> <a href="#" data-toggle="remove">&times;</a>
                    </div>
                </div>
                <div class="panel-body">
                    <statistics-pannel update-selected-categories-callback="$ctrl.setSelectedCategoriesNotificator(subscriber)" update-categories='$ctrl.updateCategories(categories)' categories="$ctrl.categories"></statistics-pannel>
                </div>
            </div>
        </div>

        <div class="sorted" ng-show="$ctrl.profile.selectedFriend">
            <div class="panel panel-inverted" style="margin-top: 0px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Friend Info</h3>
                    <div class="panel-options">
                        <a href="#" data-toggle="panel"> <span class="collapse-icon">&ndash;</span> <span class="expand-icon">+</span> </a> <a href="#" data-toggle="remove">&times;</a>
                    </div>
                </div>
                <div class="panel-body user-card" style="position:relative">
                    <dictionaries-pannel categories="$ctrl.profile.selectedFriend.extra.categories"></dictionaries-pannel>
                    <div class="user-avatar" style="display: inline-block; position: absolute; top: 245px; left: 0px; right:0px">
                        <img style="width:70px; height:70px" src="assets/images/user-4.png" ng-src="{{$ctrl.profile.selectedFriend.extra.image}}" class="user-pic img-circle">
                    </div>
                    <header>
                        <h1 class="ng-binding">{{$ctrl.profile.selectedFriend.extra.name}}</h1>
                        <p style="min-height: 20px;"></p>
                    </header>
                    <ul class="stats">
                        <li ng-repeat="(prop, val) in $ctrl.profile.selectedFriend.extra.counters">
                            <a><strong>{{val}}</strong><span>{{prop}}</span></a>
                        </li>
                    </ul>
                    <div style="text-align:center; margin-top:30px">
                        <span ng-click="$ctrl.keepExplorirng($ctrl.profile.selectedFriend)" style="width: 200px; display: inline-block;background: rgba(0, 0, 0, 0.1); padding: 12px; cursor:pointer; border: 1px solid #666;">Run Analysis</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="currentInfo" style="display:none;">
    <span id="year1990" class="year active">1990</span>
    <span id="year1995" class="year">1995</span>
    <span id="year2000" class="year">2000</span>
</div>


<script type="text/javascript">
    function between(randNumMin, randNumMax) {
        var randInt = Math.floor((Math.random() * ((randNumMax + 1) - randNumMin)) + randNumMin);
        return randInt;
    }

    function networkRealtimeGaugeTick() {
        if (jQuery('#network-realtime-gauge').length == 0)
            return;

        var nr_gauge = jQuery('#network-realtime-gauge').dxCircularGauge('instance');
        nr_gauge.value(between(50, 200));
    }

    function networkRealtimeMBupdate() {
        var $el = jQuery("#network-mbs-packets");
        if ($el.length == 0)
            return;

        var options = {
            useEasing: true,
            useGrouping: true,
            separator: ',',
            decimal: '.',
            prefix: '',
            suffix: ' Posts'
        },
        cntr = new countUp($el[0], parseFloat($el.text().replace(' Posts')), between(10, 250), 0, 1.5, options);
        cntr.start();
    }

    function networkRealtimeChartTick(min_max, min_max2) {
        var $ = jQuery,
            i = 0;
        if ($('#realtime-network-stats').length == 0)
            return;

        var chart_data = $('#realtime-network-stats').dxChart('instance').option('dataSource');
        var count = $('#realtime-network-stats').data('iCount');
        $('#realtime-network-stats').data('iCount', count + 1);
        chart_data.shift();
        chart_data.push({id: count + 1, x1: between(min_max[0], min_max[1]), x2: between(min_max2[0], min_max2[1])});
        $('#realtime-network-stats').dxChart('instance').option('dataSource', chart_data);
    }

    function init() {
        $(document).ready(function () {
            var i = 0,
                rns_values = [130, 150],
                rns2_values = [39, 50],
                realtime_network_stats = [];

            for (i = 0; i <= 100; i++) {
                realtime_network_stats.push({
                    id: i,
                    x1: between(rns_values[0], rns_values[1]),
                    x2: between(rns2_values[0], rns2_values[1])
                });
            }

            $("#realtime-network-stats").dxChart({
                dataSource: realtime_network_stats,
                commonSeriesSettings: {
                    type: "area",
                    argumentField: "id"
                },
                series: [
                    {valueField: "x1", name: "Packets Sent", color: '#1ee243', opacity: .4},
                    {valueField: "x2", name: "Packets Received", color: '#fff', opacity: .5},
                ],
                legend: {
                    verticalAlignment: "bottom",
                    horizontalAlignment: "center"
                },
                commonAxisSettings: {
                    label: {
                        visible: false
                    },
                    grid: {
                        visible: false,
                        color: '#f5f5f5'
                    }
                },
                legend: {
                    visible: false
                },
                argumentAxis: {
                    valueMarginsEnabled: false
                },
                valueAxis: {
                    max: 200
                },
                animation: {
                    enabled: false
                }
            }).data('iCount', i);

            $('#network-realtime-gauge').dxCircularGauge({
                color: '#fff',
                scale: {
                    color: '#fff',
                    startValue: 0,
                    endValue: 100,
                    majorTick: {
                        tickInterval: 50
                    }
                },
                rangeContainer: {
                    palette: 'pastel',
                    width: 3,
                    ranges: [
                        {startValue: 0, endValue: 50},
                        {startValue: 50, endValue: 75},
                        {startValue: 75, endValue: 100}
                    ]
                },
                value: 140,
                valueIndicator: {
                    offset: 10,
                    color: '#fff',
                    type: 'triangleNeedle',
                    spindleSize: 12
                }
            });
            setInterval(function () {
                networkRealtimeChartTick(rns_values, rns2_values);
            }, 1000);
            setInterval(function () {
                networkRealtimeGaugeTick();
            }, 2000);
            setInterval(function () {
                networkRealtimeMBupdate();
            }, 3000);


            var $draggable_portlets = $(".draggable-portlets");

            $(".draggable-portlets .sorted").sortable({
                connectWith: ".draggable-portlets .sorted",
                handle: '.panel-heading',
                containment: 'window',
                start: function () {
                    $draggable_portlets.addClass('dragging');
                },
                stop: function () {
                    $draggable_portlets.removeClass('dragging');
                }
            });

            $(".draggable-portlets .sorted .panel-heading").disableSelection();
        });
    }
</script>