html {
	height: 150%;
}

body {
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 13px;
	line-height: 20px;
	height: 100%;
	background: -moz-linear-gradient(top, rgba(44,62,80,1) 0%, rgba(44,62,80,1) 11%, rgba(80,91,109,1) 74%, rgba(93,101,119,0.51) 96%, rgba(93,101,119,0.51) 98%, rgba(255,255,255,0.51) 120%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(44,62,80,1) 0%,rgba(44,62,80,1) 11%,rgba(80,91,109,1) 74%,rgba(93,101,119,0.51) 96%,rgba(93,101,119,0.51) 98%,rgba(255,255,255,0.51) 120%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(44,62,80,1) 0%,rgba(44,62,80,1) 11%,rgba(80,91,109,1) 74%,rgba(93,101,119,0.51) 96%,rgba(93,101,119,0.51) 98%,rgba(255,255,255,0.51) 120%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3e50', endColorstr='#82ffffff',GradientType=0 ); /* IE6-9 */
}

.panel.panel-inverted {
	background-color: rgba(255, 255, 255, 0.11) !important;
}

#info {
	font-size: 11px;
	position: absolute;
	bottom: 5px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 3px;
	right: 10px;
	padding: 10px;
}

#currentInfo {
	width: 270px;
	position: absolute;
	left: 20px;
	top: 63px;
	background-color: rgba(0,0,0,0.2);
	border-top: 1px solid rgba(255,255,255,0.4);
	padding: 10px;
}

a {
	color: #aaa;
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}

.bull {
	padding: 0 5px;
	color: #555;
}

#title {
	position: absolute;
	top: 20px;
	width: 270px;
	left: 20px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 3px;
	font: 20px Georgia;
	padding: 10px;
}

.year {
	font: 16px Georgia;
	line-height: 26px;
	height: 30px;
	text-align: center;
	float: left;
	width: 90px;
	color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
	-webkit-transition: all 0.1s ease-out;
}

	.year:hover, .year.active {
		font-size: 23px;
		color: #fff;
	}

#ce span {
	display: none;
}

#ce {
	width: 107px;
	height: 55px;
	display: block;
	position: absolute;
	bottom: 15px;
	left: 20px;
	background: url(ce.png);
}

.example > ul {
	display: block;
	width: 800px;
	margin-bottom: 30px;
}

.example .-accordion--horizontal {
	width: auto;
}

.list, .block .content.list {
	padding: 0px;
	list-style: none;
}

	.list, .list .list-item, .list .list-title {
		display: block;
		width: 100%;
		float: left;
	}

		.list .list-title {
			color: #FFF;
			font-weight: bold;
			font-size: 12px;
			text-transform: uppercase;
			text-decoration: none;
			padding: 10px;
		}

		.list .list-item {
			color: #333;
			position: relative;
			overflow: hidden;
		}

			.list .list-item:nth-child(2n+1) {
				background: rgba(0,0,0,0.1);
			}

			.list .list-item:hover {
				background: rgba(255,255,255,0.2);
			}

.list-default .list-item {
	background: rgba(0,0,0,0.2);
	color: #FFF;
	margin-bottom: 3px;
	overflow: auto;
}

	.list-default .list-item:nth-child(2n+1) {
		background: rgba(0,0,0,0.3);
	}

	.list-default .list-item:hover {
		background: rgba(0,0,0,0.1);
	}

	.list-default .list-item .list-text {
		float: left;
	}

	.list-default .list-item .list-title {
		padding-bottom: 0px;
	}

	.list-default .list-item .list-text img {
		margin: 0px 5px 0px 0px;
	}

.list .list-item .list-datetime,
.list .list-item .list-info {
	float: left;
	padding: 8px 10px 8px 10px;
}

.list .list-item .list-datetime {
	width: 65px;
}

	.list .list-item .list-datetime .date {
		font-size: 14px;
		color: #BA3450;
		text-align: center;
		font-weight: bold;
	}

	.list .list-item .list-datetime .time {
		font-size: 11px;
		color: #f1f1f1;
		text-align: center;
		line-height: 16px;
	}

.list .list-item .list-text {
	padding: 8px 15px 8px 10px;
}

	.list .list-item .list-text .list-text-name {
		font-size: 14px;
		color: #fff;
	}

	.list .list-item .list-text p {
		margin: 5px 0px;
		font-size: 11px;
		color: #f1f1f1;
		line-height: 16px;
	}

	.list .list-item .list-text .list-text-info {
		font-size: 11px;
		color: #f1f1f1;
		margin-top: 3px;
		line-height: 14px;
	}


.list .list-item .list-controls {
	position: absolute;
	width: 70%;
	height: 80px;
	right: -70%;
	top: 0px;
	padding: 5px 10px;
	background: rgba(225,225,225,0.75);
	transition: 200ms;
	line-height: 64px;
}

.list .list-item:hover .list-controls {
	transition: 200ms;
	right: 0;
}

.list .list-item .list-controls a {
	margin-right: 10px;
}

.list.list-contacts .list-controls {
	height: 56px;
	line-height: 48px;
}

.list-default .list-item .list-text p {
	font-size: 12px;
	color: #FFF;
	margin-bottom: 3px;
	margin-top: 0px;
	padding-top: 0px;
}

.list.list-contacts {
	background: transparent;
}

	.list.list-contacts .list-item {
		background: rgba(0,0,0,0.2);
		margin-bottom: 1px;
		color: #FFF;
		margin-bottom: -1px;
	}

		.list.list-contacts .list-item:hover,
		.list.list-contacts .list-item.active {
			background: rgba(0,0,0,0.1);
		}

		.list.list-contacts .list-item .list-text .list-text-name {
			color: #FFF;
		}

		.list.list-contacts .list-item .list-text p, .list.list-contacts .list-item .list-text .list-text-info {
			color: #EEE;
		}

		.list.list-contacts .list-item:last-child {
			margin-bottom: 0px;
		}

.list-status {
	width: 10px;
	height: 10px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -5px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.list-status-online {
	background: #86D435;
}

.list-status-offline {
	background: #EF372E;
}

.list-status-away {
	background: #FF9806;
}


.list .list-item .progress {
	margin: 3px 0px 2px;
}

.widget-icon {
	display: inline-block;
	background: rgba(255,255,255,0.2);
	font-size: 12px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	width: 30px;
	height: 30px;
	padding: 5px 0px;
}









.start-screen {
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 45px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-flow: nowrap column;
	flex-flow: nowrap column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 100vh;
}

.loading {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 24px 0;
}

.loading__element {
	font-family: 'Raleway', sans-serif;
	letter-spacing: .5em;
}

.loading [class*="el"] {
	-webkit-animation: bouncing 2s infinite ease;
	animation: bouncing 2s infinite ease;
}

.loading .el1 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.loading .el2 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.loading .el3 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.loading .el4 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.loading .el5 {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.loading .el6 {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.loading .el7 {
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.loading .el8 {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.loading .el9 {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}

@-webkit-keyframes bouncing {
	0%, 100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(0, 0, 1);
		transform: scale3d(0, 0, 1);
	}
}

@keyframes bouncing {
	0%, 100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(0, 0, 1);
		transform: scale3d(0, 0, 1);
	}
}

.panel-heading {
    border-bottom-color: #393c3e!important;
}

.user-card .user-avatar {
	text-align: center;
}

.user-card .user-avatar .user-bg {
    width: 100%;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.user-card .user-avatar .user-bg:after {
	content: "";
	width: 100%;
	height: 100%;
	background: red;
}

.user-card .user-avatar .user-pic {
	background: white;
	padding: 0.25em;
	border-radius: 50%;
	margin-top: -8em;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
}

.user-card header, .user-card .status {
	text-align: center;
	padding: 0 1.5em;
}

.user-card header h1 {
	margin-top: 0.35em;
	margin-bottom: 0;
}

.user-card header p {
	color: #717a7e;
	font-size: 1.2em;
	margin-top: 0;
	margin-bottom: 0.5em;
}

.user-card .status {
	color: #75787b;
	font-size: 0.98em;
}

.user-card .stats {
	margin-bottom: 0;
	padding: 0;
	list-style: none;
	display: table;
	width: 100.15%;
}

.user-card .stats li {
	margin: 0;
	padding: 0;
	width: 33.33334%;
	display: table-cell;
	text-align: center;
	border-left: 0.1em solid transparent;
}

.user-card .stats li:first-child {
	border-left: 0;
}

.user-card .stats li:first-child a {
	border-bottom-left-radius: 0.3rem;
}

.user-card .stats li:last-child a {
	border-bottom-right-radius: 0.3rem;
}

.user-card .stats li a, .user-card .stats li strong {
	display: block;
}

.user-card .stats li a {
	background-color: rgba(255,255,255,0.1);
	padding: 1em 0;
	color: #fff;
}

.user-card .stats li a strong, .user-card .stats li a span {
	font-weight: 600;
	line-height: 1;
}

.user-card .stats li a strong {
	font-size: 2em;
}

.user-card .stats li a span {
	color: #fefefe;
}

.user-card .stats li a:hover {
	background: rgba(0, 0, 0, 0.05);
	color: #1c84d4;
}

.user-card .stats li a:hover span {
	color: #1d8cdf;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color:white;
}

.page-body .main-content .cbp_tmtimeline > li .cbp_tmtime > span {
	color: white;
}

.page-body .main-content .cbp_tmtimeline > li .cbp_tmlabel {
	background-color: rgba(255,255,255,0.15);
	color: white;
}

.page-body .main-content .cbp_tmtimeline > li .cbp_tmlabel h2, .page-body .main-content .cbp_tmtimeline > li .cbp_tmlabel p {
	color: white;
}

.nav.nav-tabs + .tab-content {
	background-color: transparent;
}

.panel.panel-inverted {
	background-color: rgba(255, 255, 255, 0.11) !important;
}

#info {
	font-size: 11px;
	position: absolute;
	bottom: 5px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 3px;
	right: 10px;
	padding: 10px;
}

#currentInfo {
	width: 270px;
	position: absolute;
	left: 20px;
	top: 63px;
	background-color: rgba(0,0,0,0.2);
	border-top: 1px solid rgba(255,255,255,0.4);
	padding: 10px;
}

a {
	color: #aaa;
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}

.bull {
	padding: 0 5px;
	color: #555;
}

#title {
	position: absolute;
	top: 20px;
	width: 270px;
	left: 20px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 3px;
	font: 20px Georgia;
	padding: 10px;
}

.year {
	font: 16px Georgia;
	line-height: 26px;
	height: 30px;
	text-align: center;
	float: left;
	width: 90px;
	color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
	-webkit-transition: all 0.1s ease-out;
}

	.year:hover, .year.active {
		font-size: 23px;
		color: #fff;
	}

#ce span {
	display: none;
}

#ce {
	width: 107px;
	height: 55px;
	display: block;
	position: absolute;
	bottom: 15px;
	left: 20px;
	background: url(ce.png);
}

.example > ul {
	display: block;
	width: 800px;
	margin-bottom: 30px;
}

.example .-accordion--horizontal {
	width: auto;
}

.list, .block .content.list {
	padding: 0px;
	list-style: none;
}

.list, .list .list-item, .list .list-title {
	display: block;
	width: 100%;
	float: left;
}

.list .list-title {
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px;
}

.list .list-item {
	color: #333;
	position: relative;
	overflow: hidden;
}

.list .list-item:nth-child(2n+1) {
	background: rgba(0,0,0,0.1);
}

.list .list-item:hover {
	background: rgba(255,255,255,0.2);
}

.list-default .list-item {
	background: rgba(0,0,0,0.2);
	color: #FFF;
	margin-bottom: 3px;
	overflow: auto;
}

.list-default .list-item:nth-child(2n+1) {
	background: rgba(0,0,0,0.3);
}

.list-default .list-item:hover {
	background: rgba(0,0,0,0.1);
}

.list-default .list-item .list-text {
	float: left;
}

.list-default .list-item .list-title {
	padding-bottom: 0px;
}

.list-default .list-item .list-text img {
	margin: 0px 5px 0px 0px;
}

.list .list-item .list-datetime, .list .list-item .list-info {
	float: left;
	padding: 8px 10px 8px 10px;
}

.list .list-item .list-datetime {
	width: 65px;
}

.list .list-item .list-datetime .date {
	font-size: 14px;
	color: #BA3450;
	text-align: center;
	font-weight: bold;
}

.list .list-item .list-datetime .time {
	font-size: 11px;
	color: #f1f1f1;
	text-align: center;
	line-height: 16px;
}

.list .list-item .list-text {
	padding: 8px 15px 8px 10px;
}

.list .list-item .list-text .list-text-name {
	font-size: 14px;
	color: #fff;
}

.list .list-item .list-text p {
	margin: 5px 0px;
	font-size: 11px;
	color: #f1f1f1;
	line-height: 16px;
}

.list .list-item .list-text .list-text-info {
	font-size: 11px;
	color: #f1f1f1;
	margin-top: 3px;
	line-height: 14px;
}


.list .list-item .list-controls {
	position: absolute;
	width: 70%;
	height: 80px;
	right: -70%;
	top: 0px;
	padding: 5px 10px;
	background: rgba(225,225,225,0.75);
	transition: 200ms;
	line-height: 64px;
}

.list .list-item:hover .list-controls {
	transition: 200ms;
	right: 0;
}

.list .list-item .list-controls a {
	margin-right: 10px;
}

.list.list-contacts .list-controls {
	height: 56px;
	line-height: 48px;
}

.list-default .list-item .list-text p {
	font-size: 12px;
	color: #FFF;
	margin-bottom: 3px;
	margin-top: 0px;
	padding-top: 0px;
}

.list.list-contacts {
	background: transparent;
}

.list.list-contacts .list-item {
	background: rgba(0,0,0,0.2);
	margin-bottom: 1px;
	color: #FFF;
	margin-bottom: -1px;
}

.list.list-contacts .list-item:hover,
.list.list-contacts .list-item.active {
	background: rgba(0,0,0,0.1);
}

.list.list-contacts .list-item .list-text .list-text-name {
	color: #FFF;
}

.list.list-contacts .list-item .list-text p, .list.list-contacts .list-item .list-text .list-text-info {
	color: #EEE;
}

.list.list-contacts .list-item:last-child {
	margin-bottom: 0px;
}

.list-status {
	width: 10px;
	height: 10px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -5px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.list-status-online {
	background: #86D435;
}

.list-status-offline {
	background: #EF372E;
}

.list-status-away {
	background: #FF9806;
}


.list .list-item .progress {
	margin: 3px 0px 2px;
}

.widget-icon {
	display: inline-block;
	background: rgba(255,255,255,0.2);
	font-size: 12px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	width: 30px;
	height: 30px;
	padding: 5px 0px;
}

.profile-env > header {
	position: relative;
	z-index: 20;
	margin-top: 30px;
}

.profile-env > header .profile-picture {
	position: relative;
}

.profile-env > header .profile-picture img {
	float: right;
	-moz-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.profile-env > header .profile-picture:hover img {
	zoom: 1;
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.profile-env > header .profile-info-sections {
	margin: 0;
	padding: 0;
	margin-top: 15px;
	padding-left: 0;
	list-style: none;
	margin-left: -5px;
}

.profile-env > header .profile-info-sections > li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.profile-env > header .profile-info-sections .profile-name strong,
.profile-env > header .profile-info-sections .profile-name span {
	display: block;
}

.profile-env > header .profile-info-sections .profile-name strong {
	font-size: 18px;
	font-weight: normal;
}

.profile-env > header .profile-info-sections .profile-name span {
	font-size: 12px;
	color: #bbbbbb;
}

.profile-env > header .profile-info-sections .profile-name span a {
	color: #bbbbbb;
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.profile-env > header .profile-info-sections .profile-name span a:hover {
	color: #888888;
}

.profile-env > header .profile-info-sections .profile-name .user-status {
	position: relative;
	display: inline-block;
	background: #575d67;
	top: -2px;
	margin-left: 5px;
	width: 6px;
	height: 6px;
	-webkit-border-radius: 6px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 6px;
	-moz-background-clip: padding;
	border-radius: 6px;
	background-clip: padding-box;
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.profile-env > header .profile-info-sections .profile-name .user-status.is-online {
	background-color: #06b53c;
}

.profile-env > header .profile-info-sections .profile-name .user-status.is-offline {
	background-color: #575d67;
}

.profile-env > header .profile-info-sections .profile-name .user-status.is-idle {
	background-color: #f7d227;
}

.profile-env > header .profile-info-sections .profile-name .user-status.is-busy {
	background-color: #ee4749;
}

.profile-env > header .profile-info-sections .profile-stat h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.profile-env > header .profile-info-sections .profile-stat span {
	color: #bbbbbb;
}

.profile-env > header .profile-info-sections .profile-stat span a {
	color: #bbbbbb;
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.profile-env > header .profile-info-sections .profile-stat span a:hover {
	color: #888888;
}

.profile-env > header .profile-info-sections > li {
	padding: 0 40px;
	position: relative;
}

.profile-env > header .profile-info-sections > li + li:after {
	content: '';
	display: block;
	position: absolute;
	top: 15px;
	bottom: 0;
	left: 0;
	width: 1px;
	background: #ebebeb;
	margin: 8px 0;
}

.profile-env > header .profile-info-sections > li:first-child {
	padding-left: 0;
}

.profile-env > header .profile-buttons {
	margin-top: 35px;
}

.profile-env > header .profile-buttons a {
	margin: 0 4px;
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.profile-env section {
	position: relative;
	z-index: 10;
}

.profile-env section.profile-info-tabs {
	position: relative;
	background: #f1f1f1;
	margin-left: -20px;
	margin-right: -20px;
	padding: 20px;
	margin-top: -20px;
	margin-bottom: 30px;
}

.profile-env section.profile-info-tabs .user-details {
	padding-left: 0;
	list-style: none;
}

.profile-env section.profile-info-tabs .user-details li {
	margin-bottom: 10px;
}

.profile-env section.profile-info-tabs .user-details li a {
	color: #a0a0a0;
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.profile-env section.profile-info-tabs .user-details li a:hover {
	color: #606060;
}

	.profile-env section.profile-info-tabs .user-details li a:hover span {
		color: #e72c28;
	}

.profile-env section.profile-info-tabs .user-details li a i {
	margin-right: 5px;
}

.profile-env section.profile-info-tabs .user-details li a span {
	color: #ec5956;
	font-weight: normal;
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.profile-env section.profile-info-tabs .nav-tabs {
	position: relative;
	margin-bottom: -20px;
	border-bottom: 0;
}

.profile-env section.profile-info-tabs .nav-tabs > li:first-child a {
	margin-left: 0;
}

.profile-env section.profile-info-tabs .nav-tabs li {
	margin-bottom: 0;
}

.profile-env section.profile-info-tabs .nav-tabs li a {
	border: none;
	padding: 10px 35px;
	font-size: 13px;
	background: #e1e1e1;
	margin-right: 10px;
}

.profile-env section.profile-info-tabs .nav-tabs li.active a {
	background: #fff;
}

.profile-env section.profile-feed {
	margin-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

.profile-env section.profile-feed .profile-post-form {
	border: 1px solid #ebebeb;
	margin-bottom: 30px;
	-webkit-border-radius: 3px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 3px;
	-moz-background-clip: padding;
	border-radius: 3px;
	background-clip: padding-box;
}

.profile-env section.profile-feed .profile-post-form .form-control {
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0;
	background: #fff;
	min-height: 80px;
	-webkit-border-radius: 3px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 3px;
	-moz-background-clip: padding;
	border-radius: 3px;
	background-clip: padding-box;
}

.panel .panel-body {
    color: #ededed !important;
}

.btn {
	border: 1px solid transparent;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
	border-color: white;
}

.row:not(.variableHeight) {
		display: flex;
}

.row > div > .sorted  {
		height: 100%;
		padding-bottom : 60px;
}

.row > div > .sorted > .panel {
		height: 100%;
}