<style>
    table.table-striped th div {
        font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
    }

    table.table-striped tr td {
        font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        color: #A9AAAA;
        padding-left: 15px !important;
    }

    .table > thead > tr > td:after, .table > thead > tr > th:after {
        display: none !important;
    }

    .table > thead > tr > td, .table > tbody > tr > td, .table > tfood > tr > td, .table > thead > tr > th, .table > tbody > tr > th, .table > tfood > tr > th {
        padding: 0px;
        margin: 0px;
    }
</style>

<div class="page-title">
    <div class="title-env">
        <h1 class="title">Entity Summary</h1>
        <p class="description"></p>
    </div>
    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li><a href="dashboard.html"><i class="fa-home"></i>Home</a></li>
            <li class="active"><strong>Entity Summary</strong></li>
        </ol>
    </div>
</div>

<div class="panel panel-default" style="position: absolute; top: 84px; bottom: 0px; left: 80px; right: 80px;background-color:transparent">
    <div ng-show="false" class="panel-heading">
        <h3 class="panel-title">Entity Summery Results</h3>
        <div class="panel-options">
            <a href="#" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="#" data-toggle="remove">&times;</a>
        </div>
    </div>
    <div class="panel-body" style="position: absolute; bottom: 0px; top: 20px; left:0px; right:0px">
        <div style="position: absolute; bottom: 0px; top: 85px; left:0px; right:0px; height: auto!important; min-height: 0px;">
            <div style="width:100%; height:40px; border: 1px solid #eee; "></div>
            <div class="scrollableContainer" style=" overflow-y: scroll; overflow-x:none!important; height: calc(100% - 40px);" infinite-scroll-container='.scrollableContainer' infinite-scroll-offset='200' infinite-scroll="$ctrl.nextPage(deferredObj)">
                <table class="table table-bordered table-striped" style="margin: 0px; position: initial; ">
                    <thead>
                    <tr>
                        <th class="idrow">
                            <div style="width:40px"></div>
                        </th>
                        <th style="position: static;">
                            <div style="height: 0px; height: 0px; line-height: 0px; padding: 0px; margin: 0px; min-height: 0px; overflow: visible; position: initial;min-width: 100px;">
                                <div style="height:40px; position:absolute; top: 1px; border-left: 1px solid black; border-left: 1px solid #eee; line-height: 40px; padding-left: 15px; ">
                                    Query ID
                                </div>
                            </div>
                        </th>
                        <th style="position: static;">
                            <div style="height: 0px; height: 0px; line-height: 0px; padding: 0px; margin: 0px; min-height: 0px; overflow: visible; position: initial; min-width: 100px;">
                                <div style="height:30px; position:absolute; top: 1px; border-left: 1px solid black; border-left: 1px solid #eee; line-height: 40px; padding-left: 15px; ">
                                    Search Name
                                </div>
                            </div>
                        </th>
                        <th style="position: static;">
                            <div style="height: 0px; height: 0px; line-height: 0px; padding: 0px; margin: 0px; min-height: 0px; overflow: visible; position: initial; min-width: 100px;">
                                <div style="height:30px; position:absolute; top: 1px; border-left: 1px solid black; border-left: 1px solid #eee; line-height: 40px; padding-left: 15px; ">
                                    First Date
                                </div>
                            </div>
                        </th>
                        <th style="position: static;">
                            <div style="height: 0px; height: 0px; line-height: 0px; padding: 0px; margin: 0px; min-height: 0px; overflow: visible; position: initial; min-width: 100px;">
                                <div style="height:30px; position:absolute; top: 1px; border-left: 1px solid black; border-left: 1px solid #eee; line-height: 40px; padding-left: 15px; ">
                                    Last Date
                                </div>
                            </div>
                        </th>
                        <th style="position: static;">
                            <div style="height: 0px; height: 0px; line-height: 0px; padding: 0px; margin: 0px; min-height: 0px; overflow: visible; position: initial; min-width: 100px;">
                                <div style="height:30px; position:absolute; top: 1px; border-left: 1px solid black; border-left: 1px solid #eee; line-height: 40px; padding-left: 15px;">
                                    Next Date
                                </div>
                            </div>
                        </th>
                        <th style="position: static;">
                            <div style="height: 0px; height: 0px; line-height: 0px; padding: 0px; margin: 0px; min-height: 0px; overflow: visible; position: initial; min-width: 40px;">
                                <div style="height:30px; position:absolute; top: 1px; border-left: 1px solid black; border-left: 1px solid #eee; line-height: 40px; padding-left: 15px; ">
                                    Actions
                                </div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="middle-align">
                        <tr ng-repeat="task in $ctrl.tasks track by task.id" class="nsd-table-row" style="height: 42px;">
                            <td style="text-align: center; padding: 0px!important">
                                <i ng-style="task.status =='Running' && {'color': 'rgb(255, 186, 0)'} || task.status == 'Completed' && {'color': 'rgb(104, 184, 40)'}"
                                   ng-class="{'fa-cog fa-spin' : task.status =='Running', 'fa-times-circle': task.status =='Suspended', 'fa-clock-o': task.status =='Awaiting', 'fa-check-circle': task.status =='Completed'}"
                                   title="{{task.status}}" style="color: #40bbea; font-size: 25px; height:25px;"></i>
                            </td>
                            <td>
                                <a ui-sref="profile({id:task.collectionRequest.requestValuesList[3].value})">{{task.collectionRequestId}}</a>
                            </td>
                            <td>
                                <span class="cbp_tmicon timeline-bg-info"
                                      style="display: inline-block; width: 30px; height: 30px; speak: none; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; font-size: 1.4em; line-height: 30px; -webkit-font-smoothing: antialiased; color: #fff; background: {{task.collectionRequest.style.background}}; border-radius: 50%; text-align: center;">
                                    <i class="{{task.collectionRequest.style.icon}}"></i>
                                </span>
                                <a ui-sref="profile({id:task.collectionRequest.requestValuesList[3].value})"style="line-height: 30px; margin-left: 10px;">{{task.collectionRequest.style.user}}</a>
                                <span ng-show="task.collectionRequest.style.image || task.collectionRequest.style.fullName"style="margin-left:25px">
                                    <image ng-show="task.collectionRequest.style.image"
                                           style="vertical-align: -8px; width:30px; height:30px; border-radius:15px"
                                           src="{{task.collectionRequest.style.image}}"/>
                                    <span ng-show="task.collectionRequest.style.fullName" style="margin-left:5px">{{task.collectionRequest.style.fullName}}</span>
                                </span>
                            </td>
                            <td>{{task.creationTime | date:'short'}}</td>
                            <td>{{task.lastDate || task.creationTime | date:'short'}}</td>
                            <td>{{task.nextDate | date:'short'}}</td>
                            <td style="padding-left: 0!important;	cursor: pointer; text-align: center;">
                                <a ng-click="$ctrl.info(task)" style="pointer-events: all; cursor:pointer;" href="javascript:void(0)" class="btn btn-sm btn-icon icon-left disabled">
                                    <i style=" font-size: 18px; vertical-align: -12px;" class="fa-info"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>