<br/><br/><br/><br/>		

<div class="user-card card">

	<div class="user-avatar">	
		<img style="width:90px; height:90px" src="assets/images/user-4.png" ng-src="{{$ctrl.baseImageUrl}}/EntitiesDiscovery/images/{{$ctrl.profile.mainProfilePicture.imageId}}" class="user-pic img-circle">
	</div>

	<header>
		<h1>{{$ctrl.profile.fullName}}</h1>
		<p style="min-height: 20px;"></p>
	</header>
	
	<div style="min-height: 60px;">
    	<div ng-repeat="usr in $ctrl.profile.users" class="cbp_tmicon timeline-bg-info" style="float: left; width: 40px; height: 40px; speak: none; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; font-size: 1.4em; line-height: 40px; -webkit-font-smoothing: antialiased; color: #fff; background: {{usr.style.background}}; border-radius: 50%; box-shadow: 0 0 0 8px; text-align: center;">
			<a href="{{ !usr.style.url ? 'javascript:void(0)' : usr.style.url + usr.userId }}" target="_blank" style="color:#ffffff; text-decoration: none;"><i class="{{usr.style.icon}}"></i></a>
		</div>
	</div>
	
	<ul class="list-unstyled user-info-list">
		<li ng-repeat="plc in $ctrl.profile.placesLived">
		<i class="fa-home"></i>
		{{plc.placeName}}
		</li>

		<li ng-repeat="plc in $ctrl.profile.workplaces">
		<i class="fa-briefcase"></i>
		{{plc.workplaceName}}
		</li>

		<li  ng-repeat="plc in $ctrl.profile.placesStudied">
		<i class="fa-graduation-cap"></i>
		{{plc.educationPlaceName}}
		</li>
	</ul>
	
	<ul class="stats">
		<li ng-repeat="infoCounter in $ctrl.profile.informationCounters"><a><strong>{{infoCounter.count}}</strong><span>{{infoCounter.counterName}}</span></a></li>
	</ul>   
	
</div>