<div>
    <style>

        table th div {
            font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
        }

        table tr td {
            font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
            color: #A9AAAA;
            padding-left: 15px !important;
        }
        .linkSpan a {
            color: rgb(0, 132, 180);
        }

        .table > thead > tr > td:after, .table > thead > tr > th:after {
            display: none !important;
        }

        .table > thead > tr > td, .table > tbody > tr > td, .table > tfood > tr > td, .table > thead > tr > th, .table > tbody > tr > th, .table > tfood > tr > th {
            padding: 0px;
            margin: 0px;
        }

        .splitter-middle .split-pane-divider-inner {
            background: #ccc;
            width: 2px !important;
            min-width: 0px;
            border: none;
            display: inline-block;
            padding-left: 0px !important;
            padding-right: 0px !important;
            left: 10px !important;
        }

        .onoffswitch {
            position: relative;
            width: 80px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        .onoffswitch-checkbox {
            display: none;
        }

        .onoffswitch-label {
            display: block;
            overflow: hidden;
            cursor: pointer;
            border: 2px solid #999999;
            border-radius: 20px;
        }

        .onoffswitch-inner {
            display: block;
            width: 200%;
            margin-left: -100%;
            transition: margin 0.3s ease-in 0s;
        }

        .onoffswitch-inner:before, .onoffswitch-inner:after {
            display: block;
            float: left;
            width: 50%;
            height: 13px;
            padding: 0;
            line-height: 13px;
            font-size: 14px;
            color: white;
            font-family: Trebuchet, Arial, sans-serif;
            font-weight: bold;
            box-sizing: border-box;
        }

        .onoffswitch-inner:before {
            content: "stuck";
            padding-left: 10px;
            background-color: #29B3E7;
            color: #FFFFFF;
        }

        .onoffswitch-inner:after {
            content: "loose";
            padding-right: 10px;
            background-color: #2C2E2F;
            text-align: right;
        }

        .onoffswitch-switch {
            display: block;
            width: 18px;
            margin: -2.5px;
            background: #FFFFFF;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 63px;
            border: 2px solid #999999;
            border-radius: 20px;
            transition: all 0.3s ease-in 0s;
        }

        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
            margin-left: 0;
        }

        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
            right: 0px;
        }

        .Socitem.custom-bing {
            background-image: url(styles/images/bing.png);
            background-size: 100% 100%;
        }

        .Socitem.custom-google {
            background-image: url(styles/images/google.png);
            background-size: 100% 100%;
        }

    </style>

    <div class="page-title">
        <div class="title-env">
            <h1 class="title">New Source Discovery</h1>
            <p class="description"></p>
        </div>
        <div class="breadcrumb-env">
            <ol class="breadcrumb bc-1">
                <li><a href="dashboard.html"><i class="fa-home"></i>Home</a></li>
                <li><a href="#/nsd/gallery">NSD</a></li>
                <li class="active"><strong>NSD Results</strong></li>
            </ol>
        </div>
    </div>

    <div ng-show="$ctrl.results" class="panel panel-default" style="position: absolute; top: 130px; bottom: 0px; left: 0px; right: 0px;">
        <div style="position:absolute; right:30px; top:35px; z-index:9999">
            <span style="font-size:25px; cursor:pointer" class="fa fa-chevron-circle-left" ng-click="$ctrl.expandLeft()"></span>
            <span style="font-size: 15px; cursor:pointer; color: white; background: rgba(0,0,0,.87); border-radius: 10px; padding: 3px; vertical-align: 4px;" ng-click="$ctrl.expandBoth()" class="fa fa-align-center"></span>
            <span style="font-size:25px; cursor:pointer" class="fa fa-chevron-circle-right" ng-click="$ctrl.expandRight()"></span>
            <div class="onoffswitch" style="display: inline-block; height: 15px; top: 5px;">
                <input ng-model="$ctrl.stuck" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
    </div>

    <div data-split-pane class="splitPane" class="panel-body" style="position: absolute; bottom: 0px; top: 167px; left:0px; right:0px; height:auto">
        <div data-width="49%" class="leftSpan" data-split-pane-component style="padding-right:0px; overflow-x: hidden;  height: auto!important; min-height: 0px; position:absolute; display: inline-block; bottom: 0px; top:20px; margin-right: 21px!important; ">
            <div style="width:100%; height:40px;  border: 1px solid #eee; "></div>
            <div class="scrollableContainer" style=" overflow-y: scroll; overflow-x:hidden!important; height: calc(100% - 40px);" infinite-scroll-container='.scrollableContainer' infinite-scroll-offset='100' infinite-scroll="$ctrl.nextPage(deferredObj)">
                <table class="table table-bordered table-striped" style="margin: 0px; position: initial; ">
                    <thead>
                        <tr>
                            <th ng-repeat="title in $ctrl.results.Titles" style="{{title.caption == 'Website' ? 'width: 20%;' : (title.caption == 'Total' ? 'width:8%;' : (title.caption == 'Source' ? 'width:8%;' : ''))}} position: static; height: 0px; line-height: 0px; overflow: hidden;">
                                <div style="  height: 0px; height: 0px; line-height: 0px; padding: 0px; margin: 0px; min-height: 0px; overflow: visible; position: initial; ">
                                    <span style="">{{title.caption}}</span>
                                    <div style="height: 38px; position:absolute; top: 1px; padding-top: 20px; overflow: hidden; border-left: 1px solid #eee; padding-left: 15px;   white-space: nowrap; text-overflow: ellipsis;  padding-left: 10px; ">
                                        <span>{{title.caption}}</span>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="middle-align">
                        <tr ng-repeat="value in $ctrl.results.Values" class="nsd-table-row" style="outline: none;">
                            <td ng-click="column.name != 'name' && $ctrl.selectRow(value)" ng-repeat="column in $ctrl.results.Titles" style="{{value.isSelected ? 'background:#40bbea;' : ''}} outline:none; ">
                                <span title='{{value[column.name]}}' style="{{value.isSelected ? 'color:white;' : ''}} {{ column.name == 'Website' ? 'padding: 5px; line-height: 15px; height: 20px; overflow:hidden;' : 'line-height: 30px;  min-height: 30px;'}} display:inline-block; cursor: default;" ng-if="column.name != 'name'">{{value[column.name]}}</span>
                                <span ng-if="false" style="display:inline-block; min-height: 30px; line-height: 30px;" class="linkSpan" ng-if="column.name == 'name'"><a style="{{value.isSelected ? 'color:white;' : 'color: rgb(0, 132, 180)'}}" target="_blank" href="{{value.Link}}">{{value[column.name]}}</a></span>
                                <a ng-init="source.style=$ctrl.getIconStyle(value[column.name])" target="_blank" href="{{value.Link}}" ng-if="column.name == 'name'" title="{{source.style.title || value[column.name]}}" style="cursor:pointer;">
                                    <div class="{{source.style.icon}} Socitem" style="font-size: 17px; padding: 4px;background-color: {{source.style.background}}; color: white; border-radius:60px; height: 25px; width: 25px;"></div>
                                    <span class="socname"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="splitter-middle" data-split-pane-divider style="width: 20px; height: 100%; display: inline-block; top: 20px; margin-right:0px" data-width="20px">
            <div></div>
        </div>

        <div class="rightSpan" data-split-pane-component style=" top:20px; left: 0px; display: inline-block;  min-height: 0px; background: white; border: 1px solid #ddd; height: 100%; float:right; position: relative;">
            <div class="wrap-content" style="height: 100%; min-width: 500px;">
                <div data-split-pane>
                    <div data-width="49%" data-split-pane-component style=" display: inline-block; height:100%; float:left; bottom: 0px; top: 0px; ">
                        <h6 style="font-size: 16px; margin-left: 10px; background: #6B7884; color:white; height: 35px; line-height: 35px; margin-right: 10px; padding-left: 10px;">Preview:</h6>
                        <div id="previewSpanArea" style="overflow: auto; display: inline-block; height: auto; position: absolute; bottom: 0px; top: 46px; right: 10px; left: 20px;">
						    <span id="previewSpan"></span>
                        </div>
                        <span ng-show="$ctrl.keepExploringMenuIsVisible" class="exploringPopup" style="position:absolute; left:0px; top:-21px; width:120px; height:60px; background:#0c64a5; display: inline-block; border: 3px solid #357ebd; box-shadow: 0px 0px 5px black;">
                            <div ng-click="$ctrl.keepexploring($ctrl.selectedRow)" class="glyphicon glyphicon-share-alt" style="color:white; cursor:pointer; font-size:30px; width: 120px; text-align: center; position: absolute; top: 3px; left: -2px">
                                <span style="font-size:15px; display:block">Keep Exploring</span>
                            </div>
                            <div style="width:0px; height:0px; border-left: 20px solid transparent; border-right: 20px solid transparent; border-top: 20px solid #0c64a5; position: absolute; bottom: -20px; left: 38px;"></div>
					    </span>
                    </div>
                    <div data-split-pane-divider style="background:#ccc; width: 2px; height: 100%; display: inline-block; top: 0px; margin-right: 3px;" data-width="2px"></div>
                    <div data-split-pane-component style=" width: calc(49% - 25px); position: relative;display: inline-block; height: 100%; float:right; top: 0px; bottom: 0px; right: 7px;">
                        <h6 style="font-size: 16px; background: #6B7884; color:white; height: 35px; line-height: 35px; padding-left: 10px; margin-left:10px">Interpretation:</h6>
                        <div style="position: absolute; left: 15px; right: 5px; top: 50px; bottom: 0px; height: auto;">
                            <div style="width:100%; height:100%; overflow:auto; padding-bottom: 20px;">
                                <div style="" ng-repeat="(key, expGroup) in $ctrl.currentExplanations" ng-style="">
                                    <div style="height:28px; background:#29b3e7; color:white; margin-bottom: 2px; padding-left: 10px; line-height: 30px; outline: none; font-size: 18px; cursor:pointer" ng-click="expGroup.open = !expGroup.open">
                                        <span>{{key}}</span>
                                        <span class="fa fa-angle-double-{{expGroup.open ? 'up' : 'down'}}" style='float:right; font-size: 30px; padding-right: 7px; line-height: 30px'></span>
                                    </div>
                                    <div style=" height:{{expGroup.open ? 'auto' : '0px'}}; overflow:hidden;     width: 100%;">
                                        <div style="cursor:pointer; padding-left:20px; outline:none; border-bottom: 1px solid #ccc; font-size: 19px; border-bottom: 1px solid #ccc; padding: 10px; text-align: left; padding-left:15px" ng-repeat="item in expGroup.items" ng-click="$ctrl.explanationClick(item)" ng-style='item.expStyle()'>
                                            <b>{{item.text1}}</b>
                                            <span style="padding-left:5px; font-size: 16px;">{{item.text2}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
