<div>
    <style>
        .tile {
            font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
            width: 120px;
            height: 120px;
            margin: 0 10px 10px 0;
            position: relative;
            /*overflow: hidden;*/
            display: block;
            float: left;
            margin: 0 10px 10px 0;
            padding: 0;
            cursor: pointer;
            background-color: #eeeeee;
            box-shadow: inset 0px 0px 1px #FFFFCC;
            zoom: 0.5;
            border: 4px solid transparent;
            background: transparent;
        }

        .searchRow::-webkit-scrollbar {
            background: rgba(100, 100, 100, 0.1);
            height: 6px;
        }

        .searchRow::-webkit-scrollbar-thumb {
            background: rgba(100, 100, 100, 0.3);
        }

        .tile.selected {
            border: 4px #4390df solid;
        }

        .Socitem.custom-bing {
            background-image: url("styles/images/bing.png");
            background-size: 100% 100%;
        }

        .Socitem.custom-google {
            background-image: url("styles/images/google.png");
            background-size: 100% 100%;
        }

        .tile.selected:before {
            position: absolute;
            display: block;
            content: "\f00c";
            color: #fff;
            right: 0;
            font-family: 'FontAwesome';
            font-size: 9pt;
            font-weight: normal;
            z-index: 102;
            top: 0;
        }

        .tile.selected:after {
            position: absolute;
            display: block;
            border-top: 28px solid #4390df;
            border-left: 28px solid transparent;
            right: 0;
            content: "";
            top: 0;
            z-index: 101;
        }

        .bootstrap-tagsinput {
            width: 80%;
        }

        .Socitem {
            font-size: 52px;
            color: white;
            width: 100%;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            padding-top: 20px;
        }

        .form-control {
            width: 80%;
        }

        .socname {
            bottom: 10px;
            position: absolute;
            color: white;
            margin-left: 10px;
            color: black;
        }

        /* original idea http://www.bootply.com/phf8mnMtpe */
        .tree {
            min-height: 20px;
            padding: 19px;
            margin-bottom: 20px;
            background-color: #fbfbfb;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        }

        .tree li {
            list-style-type: none;
            margin: 0;
            padding: 10px 5px 0 5px;
            position: relative;
        }

        .tree li::before, .tree li::after {
            content: '';
            left: -20px;
            position: absolute;
            right: auto;
        }

        .tree li::before {
            border-left: 1px solid #999;
            bottom: 50px;
            height: 100%;
            top: 0;
            width: 1px;
        }

        .tree li::after {
            border-top: 1px solid #999;
            height: 20px;
            top: 30px;
            width: 25px;
        }

        .tree li span {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border: 1px solid #999;
            border-radius: 5px;
            display: inline-block;
            padding: 3px 8px;
            text-decoration: none;
        }

        .tree li.parent_li > span {
            cursor: pointer;
        }

        .tree > ul > li::before, .tree > ul > li::after {
            border: 0;
        }

        .tree li:last-child::before {
            height: 30px;
        }

        .tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
            background: #eee;
            border: 1px solid #94a0b4;
            color: #000;
        }

        .material-datepicker {
            top: 30px !important;
            left: 0px !important;
        }


    </style>

    <script src="assets/js/select2/select2.min.js"></script>
    <script src="assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="assets/js/selectboxit/jquery.selectBoxIt.min.js"></script>
    <script src="assets/js/tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="assets/js/typeahead.bundle.js"></script>
    <script src="assets/js/handlebars.min.js"></script>
    <script src="assets/js/multiselect/js/jquery.multi-select.js"></script>
    <script src="assets/js/devexpress-web-14.1/js/dx.chartjs.js"></script>
    <script src="assets/js/toastr/toastr.min.js"></script>


    <div class="page-title" ng-show="!$ctrl.id">
        <div class="title-env">
            <h1 class="title">New Source Discovery</h1>
            <p class="description"></p>
        </div>
        <div class="breadcrumb-env">
            <ol class="breadcrumb bc-1">
                <li><a href="dashboard.html"><i class="fa-home"></i>Home</a></li>
                <li><a href="#/nsd/gallery">NSD</a></li>
                <li class="active"><strong>NSD Query</strong></li>
            </ol>
        </div>
    </div>
    <form role="form" class="form-horizontal panel panel-default" style="min-height: calc(100% - 115px);">
        <div class="form-group row" style="z-index: 999;">
            <div class="col-xs-2" ng-disabled="$ctrl.id">
                <label class="control-label" for="field-1">Query Name</label>
                <div class="">
                    <input ng-disabled="$ctrl.id" type="text" ng-model="$ctrl.queryName" class="form-control" id="field-1" placeholder="Please Insert">
                </div>
            </div>

            <div class="col-xs-2" ng-disabled="$ctrl.id">
                <label class="control-label" for="textSearch">Text Search</label>
                <div class="">
                    <input ng-disabled="$ctrl.id" type="text" ng-model="$ctrl.textSearch" class="form-control" id="textSearch" placeholder="Please Insert Text">
                </div>
            </div>

            <div class="col-xs-2" ng-disabled="$ctrl.id">
                <label class="control-label">Dictionaries</label>
                <select ng-disabled="$ctrl.id" class="form-control" ng-options="o as o for o in $ctrl.dictionaries" ng-change="$ctrl.getDictionary($ctrl.selectedDictionary)" ng-model="$ctrl.selectedDictionary">
                    <option value="" ng-show="!$ctrl.selectedDictionary" disabled selected>Please Select</option>
                </select>
            </div>

            <div class="col-xs-2" ng-disabled="$ctrl.id">
                <div ng-disabled="$ctrl.id" class="form-group">
                    <label class="control-label" for="tagsinput-1">Black List</label>
                    <input ng-disabled="$ctrl.id" type="text" class="form-control" id="tagsinput-1" data-role="tagsinput" value=""/>
                </div>
            </div>

            <div class="col-xs-3" style="top:0px; height: 70px; z-index: 999;" ng-disabled="$ctrl.id">
                <label class="control-label">Recurrence</label>
                <p style="">
                    <label class="radio-inline">
                        <input ng-disabled="$ctrl.id" ng-model="$ctrl.range" ng-change="$ctrl.repeatChanged($ctrl.range)" value="immediate" type="radio" name="radio-2" checked="">
                        Immediate
                    </label>
                    <label class="radio-inline">
                        <input ng-disabled="$ctrl.id" ng-model="$ctrl.range" ng-change="$ctrl.repeatChanged($ctrl.range)" value="startat" type="radio" name="radio-2">
                        Start At
                    </label>
                </p>

                <div ng-show="$ctrl.range != 'immediate'">
                    <div ng-disabled="$ctrl.range == 'immediate'" style="width:115px; float: left; position:relative; margin-top: 15px; margin-left: 2px;" ng-show="$ctrl.range == 'startat'">
                        <input ng-model="$ctrl.dateValue" id="field" style="width:30px; width: 25px; border: none; outline: none; cursor: pointer; font-size: 0; height: 25px;">
                        <span style="position: absolute; left: 0px; top: 0px; font-size: 30px; pointer-events: none;" class="fa fa-calendar"></span>
                        <span style="line-height: 30px; margin-left: 15px;">{{$ctrl.dateValue}}</span>
                        <script>
                            $('#field').datepicker({});
                        </script>
                    </div>

                    <select ng-show="$ctrl.range != 'immediate'" class="form-control" style="{{$ctrl.range == 'immediate' ? 'opacity: 0.8;' : ''}} margin-top: 12px; float: left; vertical-align: -3px; width: 140px; display: inline-block; margin-left: 15px;" ng-init="$ctrl.repeatInterval = 'repeat interval'" ng-model="$ctrl.repeatInterval">
                        <option ng-show="!$ctrl.repeatInterval">repeat interval</option>
                        <option>hourly</option>
                        <option>daily</option>
                        <option>weekly</option>
                        <option>monthly</option>
                    </select>

                    <div style="margin-top: 20px; right: 10px; position: relative;" ng-show="$ctrl.range == 'repeat'">
                        <button class="md-icon-button md-raised md-button ng-scope md-ink-ripple" ng-click="$ctrl.repeatType = 'daily'"  style="{{$ctrl.repeatType == 'daily' ? 'background: rgba(0,150,136,0.5);' : ''}} zoom: 0.9; margin-bottom:5px; margin-bottom: 5px; width: 110px; border-radius: 10px;" type="button" aria-label="Select day" aria-disabled="false">
                            <span class="ng-binding ng-scope">Daily</span>
                            <div class="md-ripple-container"></div>
                        </button>
                        <button class="md-icon-button md-raised md-button ng-scope md-ink-ripple" ng-click="$ctrl.repeatType = 'weekly'" style="{{$ctrl.repeatType == 'weekly' ? 'background: rgba(0,150,136,0.5);' : ''}} zoom: 0.9; margin-bottom:5px; margin-bottom: 5px; width: 110px; border-radius: 10px;" type="button" aria-label="Select day" aria-disabled="false">
                            <span class="ng-binding ng-scope">Weekly</span>
                            <div class="md-ripple-container"></div>
                        </button>
                        <button class="md-icon-button md-raised md-button ng-scope md-ink-ripple" ng-click="$ctrl.repeatType = 'monthly'" style="{{$ctrl.repeatType == 'monthly' ? 'background: rgba(0,150,136,0.5);' : ''}} zoom: 0.9; margin-bottom:5px; margin-bottom: 5px; width: 110px; border-radius: 10px;" type="button" aria-label="Select day" aria-disabled="false">
                            <span class="ng-binding ng-scope">Monthly</span>
                            <div class="md-ripple-container"></div>
                        </button>
                    </div>

                    <div style="position: relative; right: 5px; margin-top:20px">
                        <div style="" ng-show="$ctrl.range == 'repeat' && $ctrl.repeatInterval == 'monthly'" ng-repeat="row in [ [1,2,3,4,5,6,7], [8,9,10,11,12,13,14], [15,16,17,18,19,20,21], [22,23,24,25,26,27,28], [29,30,31] ]">
                            <button ng-click="$ctrl.repeatDay = num" ng-repeat="num in row" class="md-icon-button md-raised md-button ng-scope md-ink-ripple" style="{{$ctrl.repeatDay== num ? 'background: rgba(0,150,136,0.5);' : ''}} zoom: 0.9; margin-bottom:5px" type="button" aria-label="Select day" aria-disabled="false">
                                <span class="ng-binding ng-scope">{{num}}</span>
                                <div class="md-ripple-container"></div>
                            </button>
                        </div>
                    </div>

                    <div ng-show="$ctrl.range == 'repeat' && $ctrl.repeatInterval == 'weekly'" style="margin-top:25px; text-align:left; position: relative; right: 10px;">
                        <button ng-click="$ctrl.repeatWeek = week" ng-repeat="week in ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']" class="md-icon-button md-raised md-button ng-scope md-ink-ripple" style="{{$ctrl.repeatWeek == week ? 'background: rgba(0,150,136,0.5);' : ''}} border: 1px solid #ddd; zoom: 0.9; margin-bottom:5px; margin-bottom: 15px; width: 110px; border-radius: 10px; height: 35px; line-height: 22px; min-height: 0px; width: 115px;" type="button" aria-label="Select day" aria-disabled="false">
                            <span class="ng-binding ng-scope">{{week}}</span>
                            <div class="md-ripple-container"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="searchRow form-group row" style="width: auto; overflow-x: auto; overflow-y: hidden; height:100px; white-space: nowrap;    height: 125px; padding-top:25px">
            <div class="col-md-6" style="width: auto; margin-right: 50px; display:inline-block" ng-disabled="$ctrl.id">
                <label class="control-label">Social Networks</label>
                <div class="form-group">
                    <div style="{{source.disable ? 'pointer-events : none;':''}} outline: none;" ng-click="!$ctrl.id ? source.isSelected = !source.isSelected : false" ng-repeat="source in $ctrl.sources" class="tile {{source.isSelected ? 'selected' : ''}}" ng-disabled="{{source.disable}}">
                        <div data-balloon="{{source.data}}" data-balloon-pos="up">
                            <div class="{{source.style.icon}} Socitem" style="height: 112px; background-color: {{source.style.background}}; color: white"></div>
                            <span class="socname"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="clear: none; width: auto; margin-right: 50px; display:inline-block" ng-disabled="$ctrl.id">
                <label class="control-label">Search Engines</label>
                <div class="form-group">
                    <div style="{{source.disable ? 'pointer-events : none;':''}} outline: none;" ng-click="!$ctrl.id ? source.isSelected = !source.isSelected : false" class="tile {{source.isSelected ? 'selected' : ''}}" ng-repeat="source in $ctrl.searches">
                        <div data-balloon="{{source.data}}" data-balloon-pos="up">
                            <div class="{{source.style.icon}} Socitem" style="height: 112px; background-color: {{source.style.background}}; color: white"></div>
                            <span class="socname"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="" style=" width: auto; display: inline-block; " ng-disabled="$ctrl.id">
                <label class="control-label">Avatars</label>
                <div class="form-group">
                    <div ng-repeat="avatar in $ctrl.avatars" style="pointer-events : none; width: auto; outline: none; zoom: 0.6; height:100px" class="tile {{avatar.isSelected ? 'selected' : ''}}" ng-click="$ctrl.selectAvatar(avatar)">
                        <div data-balloon="{{avatar.displayName}}" data-balloon-pos="up">
                            <div class="Socitem" style="background-color:transparent ; color: white">
                                <img src="{{avatar.imageData}}" alt="user-image" class="img-circle img-inline userpic-32" style="padding: 0px; width: 80px; top: -14px; position: relative;">
                            </div>
                        </div>
                        <span ng-show="false" title="{{avatar.displayName}}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100px; height: 14px;" class="socname">{{avatar.displayName}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row" style="" ng-show="($ctrl.tree && $ctrl.tree.DictionaryCategory && $ctrl.tree.DictionaryCategory.length) || ($ctrl.tree && $ctrl.tree.length && $ctrl.tree[0].DictionaryCategory)">
            <dictionary-tree ng-cloak tree-type="{{$ctrl.id ? 'readonly' : 'full_minus_2'}}" contract="$ctrl.contract" tree-data="$ctrl.tree"></dictionary-tree>
        </div>

        <button ng-show="($ctrl.textSearch || $ctrl.tree) && !$ctrl.id" ng-click="$ctrl.saveDictionary()" class="btn btn-success btn-icon"><i class="fa-check"></i> <span>Run</span></button>
    </form>


    <link rel="stylesheet" href="assets/js/daterangepicker/daterangepicker-bs3.css">
    <script src="assets/js/daterangepicker/daterangepicker.js"></script>
    <script src="assets/js/datepicker/bootstrap-datepicker.js"></script>
    <script src="assets/js/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="assets/js/colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="assets/js/xenon-custom.js"></script>
</div>
