<style>
    .bottom-ver-d {
        width: 5px !important;
    }

    .control-label {
        color: white;
    }

    .tile {
        font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
        width: 120px;
        height: 120px;
        margin: 0 10px 10px 0;
        position: relative;
        overflow: hidden;
        display: block;
        float: left;
        margin: 0 10px 10px 0;
        padding: 0;
        cursor: pointer;
        background-color: #eeeeee;
        box-shadow: inset 0px 0px 1px #FFFFCC;
        zoom: 0.6;
    }

    .tile.selected {
        border: 4px #4390df solid;
    }

    .tile.selected:before {
        position: absolute;
        display: block;
        content: "\f00c";
        color: #fff;
        right: 0;
        font-family: 'FontAwesome';
        font-size: 9pt;
        font-weight: normal;
        z-index: 102;
        top: 0;
    }

    .tile.selected:after {
        position: absolute;
        display: block;
        border-top: 28px solid #4390df;
        border-left: 28px solid transparent;
        right: 0;
        content: "";
        top: 0;
        z-index: 101;
    }

    .example > ul {
        display: block;
        width: 800px;
        margin-bottom: 30px;
    }

    .example .-accordion--horizontal {
        width: auto;
    }

    .Socitem {
        font-size: 77px;
        color: white;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        padding-top: 20px;
    }

    .socname {
        bottom: 10px;
        position: absolute;
        color: white;
        margin-left: 10px;
        color: black;
    }
</style>
<script src="assets/js/ckeditor/ckeditor.js"></script>

<div class="row" style="padding-top:50px;">
    <div class="col-md-6"><label class="control-label">File Type:</label>
        <div class="form-group">
            <div class="tile">
                <div class="fa-file-word-o Socitem" style="background-color: #9b59b6; color: white"></div>
                <span class="socname"></span>
            </div>
            <div class="tile">
                <div class="fa-file-pdf-o Socitem" style="background-color: #27ae60; color: white"></div>
                <span class="socname"></span>
            </div>
            <div class="tile">
                <div class="fa-file-powerpoint-o Socitem" style="background-color: #d35400; color: white"></div>
                <span class="socname"></span>
            </div>
            <div class="tile">
                <div class="fa-file-image-o Socitem" style="background-color: #2c3e50; color: white"></div>
                <span class="socname"></span>
            </div>
            <div class="tile selected">
                <div class="fa-file-text-o Socitem" style="background-color: #16a085; color: white"></div>
                <span class="socname"></span>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <label class="control-label">Dictionaries</label>
        <select class="form-control" ng-model="$ctrl.selectedDictionary" style="width:50%">
            <option ng-repeat="dictionary in $ctrl.dictionaries" value="{{dictionary.name}}">{{dictionary.name}}</option>
        </select>
        <button class="btn btn-success btn-icon pull-right" ng-click="$ctrl.analyze()" style="float: none!important; margin-top: 30px;">
            <i class="fa-check"></i>
            <span>Analyze</span>
        </button>
    </div>
</div>

<div class="panel-body">
    <br/>
    <div id="textArea" style="position: absolute; left: 30px; right: 30px; top: 230px; bottom: 1px;">
        <textarea ng-model="$ctrl.text" class="form-control" rows="20" id="editor1" style="top: 0px; position: absolute; bottom: 70%;"></textarea>
        <div class="row" style="position: absolute; left: 0px; right: 10px; bottom: 5px; top: 30%;">

            <div data-split-pane id="sboxit-4" class="panel-body splitPane" style="">
                <div data-width="0%" class="leftSpan" data-split-pane-component style="display:none;">
                    <div style="width:100%; height:40px; background: white; border: 1px solid #eee; "></div>
                    <div class="scrollableContainer" style=" overflow-y: scroll; overflow-x:hidden!important; height: calc(100% - 40px);" infinite-scroll-container='.scrollableContainer' infinite-scroll-offset='100' infinite-scroll="$ctrl.nextPage(deferredObj)">
                        <table class="table table-bordered table-striped" style="margin: 0px; position: initial; ">
                            <thead>
                                <tr>
                                    <th ng-repeat="title in $ctrl.results.Titles" style="{{title.caption == 'Website' ? 'width: 15%;' : (title.caption == 'Total' ? 'width:8%;' : (title.caption == 'Source' ? 'width:8%;' : ''))}} position: static; height: 0px; line-height: 0px; overflow: hidden;">
                                        <div style="  height: 0px; height: 0px; line-height: 0px; padding: 0px; margin: 0px; min-height: 0px; overflow: visible; position: initial; ">
                                            <span style="">{{title.caption}}</span>
                                            <div style="height: 38px; position:absolute; top: 1px; padding-top: 20px; overflow: hidden; border-left: 1px solid #eee; padding-left: 15px; background:white;  white-space: nowrap; text-overflow: ellipsis;  padding-left: 10px; ">
                                                <span>{{title.caption}}</span>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="middle-align">
                                <tr ng-repeat="value in $ctrl.results.Values" class="nsd-table-row" style="outline: none;">
                                    <td ng-click="column.name != 'name' && $ctrl.selectRow(value)" ng-repeat="column in $ctrl.results.Titles" style="{{value.isSelected ? 'background:#40bbea;' : ''}} outline:none; ">
                                        <span title='{{value[column.name]}}' style="{{value.isSelected ? 'color:white;' : ''}} {{ column.name == 'Website' ? 'padding: 5px; line-height: 15px; height: 20px; overflow:hidden;' : 'line-height: 30px;  min-height: 30px;'}} display:inline-block; cursor: default;" ng-if="column.name != 'name'">{{value[column.name]}}</span>
                                        <span ng-if="false" style="display:inline-block; min-height: 30px; line-height: 30px;" class="linkSpan" ng-if="column.name == 'name'">
                                            <a style="{{value.isSelected ? 'color:white;' : 'color: rgb(0, 132, 180)'}}" target="_blank" href="{{value.Link}}">{{value[column.name]}}</a>
                                        </span>
                                        <a target="_blank" href="{{value.Link}}" ng-if="column.name == 'name'" title="{{value[column.name]}}" style="cursor:pointer;">
                                            <div ng-init="source.style=$ctrl.getIconStyle(value[column.name])" class="{{source.style.icon}} Socitem" style="font-size: 17px; padding: 4px;background-color: {{source.style.background}}; color: white; border-radius:60px; height: 25px; width: 25px;"></div>
                                            <span class="socname"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="rightSpan" data-split-pane-component style="left:15px">
                    <div class="wrap-content" style="height: 100%; min-width: 500px;">
                        <div data-split-pane style="">
                            <div data-width="49%" data-split-pane-component style="display: inline-block; height:100%; float:left; bottom: 0px; top: 0px; ">
                                <h6 style="font-size: 16px; background: #6B7884; color:white; height: 35px; line-height: 35px;  padding-left: 10px;">Preview:</h6>
                                <div id="previewSpanArea" style="overflow: auto; position: absolute; bottom: 0px; top: 50px;">
                                    <span id="previewSpan"></span>
                                </div>
                            </div>
                            <div class="bottom-ver-d" data-split-pane-divider style="background:#ccc; width: 3px!important; margin-top: 10px; height: 100%; display: inline-block; top: 0px; margin-right: 11px;" data-width="20px"></div>
                            <div data-split-pane-component style=" width: calc(49% - 25px); position: relative;display: inline-block; height: 100%; float:right; top: 0px; bottom: 0px; right: 7px;">
                                <h6 style="font-size: 16px; background: #6B7884; color:white; height: 35px; line-height: 35px; padding-left: 10px;">Interpretation:</h6>
                                <div style=" left: 15px; right: 5px; top: 50px; bottom: 0px; height: auto;">
                                    <div style="width:100%; height:100%; overflow:auto; padding-bottom: 20px;">
                                        <div style="" ng-repeat="(key, expGroup) in $ctrl.currentExplanations" ng-style="">
                                            <div style="height:28px; background:#29b3e7; color:white; margin-bottom: 2px; padding-left: 10px; line-height: 30px; outline: none; font-size: 18px; cursor:pointer" ng-click="expGroup.open = !expGroup.open">
                                                <span>{{key}}</span>
                                                <span class="fa fa-angle-double-{{expGroup.open ? 'up' : 'down'}}" style='float:right; font-size: 30px; padding-right: 7px; line-height: 30px'></span>
                                            </div>
                                            <div style="height:{{expGroup.open ? 'auto' : '0px'}}; overflow:hidden;     width: 100%;">
                                                <div style="cursor:pointer; padding-left:20px; outline:none; border-bottom: 1px solid #ccc; font-size: 19px; border-bottom: 1px solid #ccc; padding: 10px; text-align: left; padding-left:15px" ng-repeat="item in expGroup.items" ng-click="$ctrl.explanationClick(item)" ng-style='item.expStyle()'>
                                                    <b>{{item.text1}}</b>
                                                    <span style="padding-left:5px; font-size: 16px;">{{item.text2}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
