<style>
    .cbp_tmtimeline > li .cbp_tmtime {
        padding-right: 110px;
    }
    .cbp_tmtimeline {
        padding-top: 15px;
    }
    .page-body .main-content .cbp_tmtimeline:before {
        left: 139px;
    }
    .page-body .main-content .cbp_tmtimeline > li .cbp_tmicon.timeline-bg-info {
        margin-left: 0px;
        left: 115px;
    }
    .page-body .main-content .cbp_tmtimeline > li .cbp_tmlabel {
        left: 175px;
        margin-left: 0px;
    }
</style>

<div style="height: 100%; padding-top: 15px;">
    <div class="tab-pane area2-home" id="home" style="height: 100%; width: 70%; float: left; position: relative; ">
        <div style="padding-left: 10px; height: 100%;">
            <button ng-class="{'selected' : cat.isSelected}" style="background:{{$index == 0 ? 'black' : $ctrl.xenonPalette[$index - 1]}}" ng-repeat="cat in $ctrl.categoriesAll" class="categoryTab btn btn-success btn-sm" ng-click="$ctrl.dictFilterPostsChanged(cat)">{{cat.categoryName}}</button>
            <ul class="cbp_tmtimeline" style=" overflow-y: auto; position: absolute; left: 0px; right: 0px; top: 20px; bottom: 0px;">
                <li ng-repeat="post in $ctrl.posts" ng-show="!post.hidden">
                    <time style="    width: 200px;" class="cbp_tmtime" datetime="{{$ctrl.toDate(post.date)| date:'yyyy-MM-dd'}}">
                        <span>{{$ctrl.toDate(post.date)| date:'h:mm a'}}</span>
                        <span>{{$ctrl.toDate(post.date)| date:'dd/MM/yyyy'}}</span>
                    </time>
                    <div class="cbp_tmicon timeline-bg-info" style="background:{{post.style.background}}"><i class="{{post.style.icon}}"></i></div>
                    <div class="cbp_tmlabel">
                        <h2><a href="javascript:void(0)">{{$ctrl.profile.fullName}}</a> <span>posted a {{post.contentType}}</span></h2>
                        <p compile="post.content"></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="area2-home" id="Interpolation" style=" width: 28%;  float: right; margin-top:40px; position: relative; height: calc( 100% - 40px );">
        <h6 style="font-size: 16px; background: #6B7884; color:white; height: 35px; line-height: 35px; padding-left: 10px; margin-right:5px;">Interpretation:</h6>
        <div id="explanationsContainer" style="position: absolute; left: 0px; right: 5px; top: 50px; bottom: 0px; height: auto; overflow-y:auto">
            <div style="width:100%; height:100%; padding-bottom: 20px; ">
                <div ng-show="!expGroup.hidden" style="" ng-repeat="(key, expGroup) in $ctrl.currentExplanations" ng-style="">
                    <div style="height:28px; background:#29b3e7; color:white; margin-bottom: 2px;  line-height: 30px; outline: none; font-size: 18px; cursor:pointer" ng-click="$ctrl.closeOtherGroups(expGroup); expGroup.open = !expGroup.open">
                        <span style="    padding-left: 5px;">{{key}} ({{expGroup.count || ''}})</span>
                        <span class="fa fa-angle-double-{{expGroup.open ? 'up' : 'down'}}" style='float:right; font-size: 30px; padding-right: 7px; line-height: 30px'></span>
                    </div>
                    <div style=" height:{{expGroup.open ? 'auto' : '0px'}}; overflow:hidden;     width: 100%;">
                        <div style="position:relative; cursor:pointer; padding-left:20px; outline:none; border-bottom: 1px solid #ccc; font-size: 19px; border-bottom: 1px solid #ccc; padding: 10px; text-align: left; padding-left:15px" ng-repeat="(word, item) in expGroup.words" ng-click="$ctrl.nextInstance(item, word, expGroup, key)" ng-style='item.expStyle()' class='word-id-{{item.wordInstanceId}}'>
                            <b>{{item.translation}}</b>
                            <span style="padding-left:5px; font-size: 16px;"> {{item.explanation}}</span>
                            <div style="display: inline-block; position: absolute; top: 2px; right: 5px; background: #29b3e7; color: white; font-size: 14px; line-height: 11px; padding: 3px; height: 16px; border-radius: 6px; font-weight: bold;">{{item.count}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>