<div style="position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; overflow: hidden; padding: 30px;">
    <link rel="stylesheet" href="assets/css/zc.css" type="text/css">
    <link rel="stylesheet" href="assets/css/jquery.bxslider.css" type="text/css">
    <link rel="stylesheet" href="assets/css/jqcloud.css" type="text/css">

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDC0OfHIpP5CsdMkzORtvF-6YrVjThG6Gc"></script>
    <script src="assets/js/zoomcharts/zoomcharts.js" type="text/javascript"></script>
    <script src="assets/js/zoomcharts/social.js" type="text/javascript"></script>
    <script src="assets/js/bxSlider/jquery.bxslider.js"></script>

    <script src="assets/js/Jqcloud/src/jqcloud.js"></script>
    <script src="assets/js/xenon-custom.js"></script>

    <div class="page-title">
        <div class="row">
            <div class="title-env">
                <h1 class="title">Profile</h1>


            </div>
        </div>
        <script>
            var xenonPalette = ['#68b828', '#7c38bc', '#0e62c7', '#fcd036', '#c0392b', '#00b19d', '#ff6264', '#f7aa47'];
            var CheckboxPalette = ['secondary', 'purple', 'blue', 'orange', 'red']
        </script>
        <script>

            function Toggle(target, areaId) {
                $("*[class*='handler" + (areaId || "") + "-']").css("background", "#40bbea");
                $("*[class*='area" + (areaId || "" ) + "-']").css("opacity", "0");
                $("*[class*='area" + (areaId || "") + "-']").css("display", "none");
                $(".handler" + (areaId || "") + "-" + target).css("background", "#8dc63f");
                $(".area" + (areaId || "") + "-" + target).css("opacity", "1");
                $(".area" + (areaId || "") + "-" + target).css("display", "block");
                $(".area" + (areaId || "") + "-" + target).css("visibility", "visible");
            }

            function initSlider() {
                $(document).ready(function () {
                    setTimeout(function () {
                        $('.slider2').bxSlider({
                            slideWidth: 300,
                            pager: false,
                            auto: true,
                            pause: 4000,
                            minSlides: 3,
                            maxSlides: 3,
                            slideMargin: 1
                        });
                        $('.slider2').css("opacity", 1);
                    }, 1000);
                });
            }

        </script>

        <style>
            .nav.nav-tabs > li > a:hover {
                background: #ccc !important;
            }

            .nav.nav-tabs > li > a {
                background: white;
            }

            .nav.nav-tabs > li.active > a, .nav.nav-tabs > li > a.active:hover {
                background: #ddd;
            }

            .gmnoprint:last-child {
                left: 25px !important;
                top: 5px !important;
            }

            .categoryTab {
                border: 3px solid transparent;
            }

            .categoryTab.selected {
                border: 3px solid #2c3e50;
                border-radius: 5px;
                box-shadow: 0px 0px 10px #2c3e50;
            }

            .page-body .main-content .cbp_tmtimeline:before {
                width: 0px;
            }

            .bx-viewport {
                border: none !important;
            }
        </style>


        <div class="row" style="position: absolute; top: 50px; bottom: 0px; left: 25px; right: 25px;">
            <div style="height: 100%;" class="col-md-12">

                <div id="range-chart"></div>

                <div class="col-md-8" style="margin-left: 266px; margin-top: 15px; height: 88px;">
                    <div style="border-bottom: 1px solid #eee; height: 80px;  margin-top: 5px;  overflow: hidden;">
                        <div class="col-xs-2" ng-repeat="cat in $ctrl.categories" style="height: 85px; float: left; width: 24%;">
                            <div style="" class="xe-widget xe-counter xe-counter-blue col-xs-3" data-count=".num" data-from="1" data-to="{{cat.categoryPercentage}}" data-suffix="%" data-duration="3" data-easing="false">
                                <div class="xe-icon">
                                    <i class="fa fa-bullseye" style="font-size:25px" ng-style="{'background-color':$ctrl.xenonPalette[$index]}"></i>
                                </div>
                                <div class="xe-label">
                                    <strong class="num">{{cat.categoryPercentage}}%</strong> <span>{{cat.categoryName}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8" style="position: absolute; top: 225px; bottom: 0px; left: 280px; right: 290px; width: auto;">
                    <ul class="nav nav-tabs" style="height: 39px; margin-top: 25px; margin-right: 30px;">
                        <li class="active">
                            <a href="javascript:void(0)" data-toggle="tab" onclick="Toggle('Summary', 2);">
                                <span class="visible-xs"><i class="fa-home"></i></span>
                                <span class="hidden-xs">Summary</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-toggle="tab" onclick="Toggle('home', 2);">
                                <span class="visible-xs"><i class="fa-home"></i></span>
                                <span class="hidden-xs">Timeline</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" style="position: absolute; top: 65px; padding-top: 10px; bottom: 0px; left: 15px; padding-left: 0px; right: 10px; background:#eee;">
                        <div class="tab-pane active area2-Summary" style="height:100%;" id="Summary">
                            <button class="btn btn-gray btn-sm" style="display:none">All</button>
                            <button style="margin-left: 10px;" class="btn btn-success btn-icon btn-sm handler-la" onclick="Toggle('la')">
                                <i class="fa-link"></i>
                                <span style="padding-left: 10px;">Link Analysis</span>
                            </button>
                            <button class="btn btn-info btn-icon btn-sm handler-geo" onclick="Toggle('geo')">
                                <i class="fa-map-marker"></i>
                                <span style="padding-left: 10px;">Geo Location Analysis</span>
                            </button>
                            <div style="width:100%; height:100%;     overflow-x: hidden;  overflow-y:auto ; position: relative;">
                                <div class="google-map-env fill area-geo" id="GoogleMap" style="background: white; position: absolute; top: 15px; bottom: 0px; left: 0px; right: 0px; opacity:0; overflow: hidden;">
                                    <div class="map-toolbar" style="display:none">
                                        <div class="row">
                                            <div class="col-sm-4">
                                            </div>
                                            <div class="col-sm-8 text-right">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-white" id="map-unzoom">-</button>
                                                    <button type="button" class="btn btn-white" id="map-resetzoom">100%</button>
                                                    <button type="button" class="btn btn-white" id="map-zoom">+</button>
                                                </div>
                                                &nbsp;
                                                <a href="javascript:void(0)" class="btn btn-orange" id="go-bln">Street View</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gmap full-page-google-map"
                                         style=" position: absolute; top: 2px; bottom: 0px; left: 0px; right: 0px; overflow: hidden;">
                                        <div id="map-1"></div>
                                    </div>
                                </div>
                                <div class="area-la" id="chartDiv" style="display: block;">
                                    <script src="assets/js/zoomcharts/zoomcharts.js" type="text/javascript"></script>
                                    <script src="assets/js/zoomcharts/social.js" type="text/javascript"></script>
                                </div>

                                <div id="TagCloud" class="area-la" style="height: 200px !important; margin-top: 30px;"></div>
                            </div>

                        </div>


                        <div class="tab-pane area2-home" id="home">
                            <div style="padding-left: 10px;">
                                <button ng-class="{'selected' : cat.isSelected}" ng-style="{'background': ($index == 0 ? 'black' : $ctrl.CheckboxPalette[$index - 1]) }" ng-repeat="cat in $ctrl.categoriesAll" class="categoryTab btn btn-success btn-sm" ng-click="$ctrl.dictFilterPostsChanged(cat)">{{cat.categoryName}}</button>
                                <ul class="cbp_tmtimeline" style="overflow-y: scroll; position: absolute; bottom: 0px; left: 0px; top: 70px; right: 35px;">
                                    <li ng-repeat="post in $ctrl.posts" ng-show="!post.hidden">
                                        <time style="    width: 200px;" class="cbp_tmtime" datetime="{{$ctrl.toDate(post.date)| date:'yyyy-MM-dd'}}">
                                            <span>{{$ctrl.toDate(post.date)| date:'h:mm a'}}</span>
                                            <span>{{$ctrl.toDate(post.date)| date:'dd/MM/yyyy'}}</span>
                                        </time>
                                        <div class="cbp_tmicon timeline-bg-info" style="background:{{post.style.background}}"><i class="{{post.style.icon}}"></i></div>
                                        <div class="cbp_tmlabel">
                                            <h2>
                                                <a href="javascript:void(0)">{{$ctrl.profile.fullName}}</a>
                                                <span>posted a {{post.contentType}}</span>
                                            </h2>
                                            <p compile="post.content"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="width: 290px; padding: 0px; height: auto; position: absolute; top: 140px; right: 0px; bottom: 2px; overflow-y: scroll;">
                    <div class="area2-home" id="Interpolation" style="display:none; padding-top: 150px;">
                        <h6 style="font-size: 16px; background: #6B7884; color:white; height: 35px; line-height: 35px; padding-left: 10px; margin-right:5px;">Interpretation:</h6>
                        <div style="position: absolute; left: 0px; right: 5px; top: 50px; bottom: 0px; height: auto;">
                            <div style="width:100%; height:100%; padding-bottom: 20px; padding-top: 150px;">
                                <div style="" ng-repeat="(key, expGroup) in $ctrl.currentExplanations" ng-style="">
                                    <div style="height:28px; background:#29b3e7; color:white; margin-bottom: 2px;  line-height: 30px; outline: none; font-size: 18px; cursor:pointer" ng-click="expGroup.open = !expGroup.open">
                                        <span style="    padding-left: 5px;">{{key}} ({{expGroup.count || ''}})</span>
                                        <span class="fa fa-angle-double-{{expGroup.open ? 'up' : 'down'}}" style='float:right; font-size: 30px; padding-right: 7px; line-height: 30px'></span>
                                    </div>
                                    <div style=" height:{{expGroup.open ? 'auto' : '0px'}}; overflow:hidden;     width: 100%;">
                                        <div style="position:relative; cursor:pointer; padding-left:20px; outline:none; border-bottom: 1px solid #ccc; font-size: 19px; border-bottom: 1px solid #ccc; padding: 10px; text-align: left; padding-left:15px" ng-repeat="(word, item) in expGroup.words" ng-click="$ctrl.nextInstance(item, word, expGroup, key)" ng-style='item.expStyle()'>
                                            <b>{{item.translation}}</b>
                                            <span style="padding-left:5px; font-size: 16px;"> {{item.explanation}}</span>
                                            <div style="display: inline-block; position: absolute; top: 2px; right: 5px; background: #29b3e7; color: white; font-size: 14px; line-height: 11px; padding: 3px; height: 16px; border-radius: 6px; font-weight: bold;">
                                                {{item.count}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="area2-Summary" style=" padding-top: 150px;" id="Gauge">
                        <script type="text/javascript">
                            var friendGauge;
                            var mainGauge;
                            jQuery(document).ready(function ($) {
                                friendGauge = $('#gauge2').dxBarGauge({
                                    startValue: 0,
                                    endValue: 100,
                                    label: {
                                        format: 'fixedPoint',
                                        precision: 0
                                    },
                                    tooltip: {
                                        enabled: true,
                                        customizeTooltip: function (arg) {
                                            console.log(345, arg);
                                            return {
                                            };
                                        }
                                    },
                                    palette: xenonPalette
                                }).dxBarGauge('instance');

                                mainGauge = $('#gauge').dxBarGauge({
                                    startValue: 0,
                                    endValue: 100,
                                    label: {
                                        format: 'fixedPoint',
                                        precision: 0
                                    },
                                    tooltip: {
                                        enabled: true,
                                        customizeTooltip: function (arg) {
                                            console.log(345, arg);
                                            return {

                                            };
                                        }
                                    },
                                    palette: xenonPalette
                                }).dxBarGauge('instance');


                            });
                        </script>
                        <div style="height:200px" id="catChart"></div>
                        <div id="bar-gauge-3" style="    margin-top: 15px;">
                            <div id="panel" style="auto; text-align: left; margin-top:0px;">
                                <div ng-repeat="cat in $ctrl.categories" class="Xcbr-replaced Xcbr-checked Xcbr-secondary">
                                    <input type="checkbox" ng-model="cat.isSelected" ng-change="$ctrl.dictFilterChanged()"/>
                                    <span style="margin-left: 10px; color:{{$ctrl.xenonPalette[$index]}}">{{cat.categoryName}}</span>
                                </div>
                                <div class="btn-group" style="width:100%; margin-top: 20px;">
                                    <button type="button" style="width:228px;" class="btn btn-grey">Add</button>
                                    <button type="button" class="btn btn-grey dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa-chevron-down"></i></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="javascript:void(0)">Action</a></li>
                                        <li><a href="javascript:void(0)">Another action</a></li>
                                        <li><a href="javascript:void(0)">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="javascript:void(0)">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <button type="button" ng-click="$ctrl.runFullLA()" class="btn btn-grey">
                            <span class="fa fa-play"></span>
                            <span style="padding-left:10px; font-size:14px; vertical-align: 1px;">Running full closest links analysis</span>
                        </button>

                        <script type="text/javascript">
                            var gauge2;
                            jQuery(document).ready(function ($) {

                                var gauge = $('#gauge2').dxBarGauge({
                                    startValue: 0,
                                    endValue: 100,
                                    label: {
                                        format: 'fixedPoint',
                                        precision: 0
                                    },
                                    palette: xenonPalette
                                }).dxBarGauge('instance');

                                var i = -1;

                                var $inputs = $('#panel2 input').change(handleChange);

                                function handleChange() {
                                    var values = $.map($inputs, function (input) {
                                        return $(input).prop('checked') ? $(input).val() : null;
                                    });
                                    gauge.values(values);
                                }

                                handleChange();
                                cbr_replace();
                            });
                        </script>
                        <br/>

                        <div style=" ">
                            <div id="bar-gauge-2" ng-show="$ctrl.selectedFriendProfile">
                                <div id="gauge2" style="width: 100%; height: 50%; margin-top: 0px; "></div>
                                <div id="panel2" style="width: 100%; text-align: left; margin-top:0px;">
                                    <a href="javascript:void(0)">
                                        <button ng-click="$ctrl.clickFriend($ctrl.selectedFriendProfile)" class="btn btn-primary btn-block">
                                            {{$ctrl.selectedFriendProfile.fullName}}
                                            <i class="fa-chevron-right" style="float: right"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="profile-env" ng-show="$ctrl.selectedFriendProfile">
                                <div style="min-height: 50px; padding-top: 20px;">
                                    <div ng-repeat="usr in $ctrl.selectedFriendProfile.users" class="cbp_tmicon timeline-bg-info" style="float: left; width: 40px; height: 40px; speak: none; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; font-size: 1.4em; line-height: 40px; -webkit-font-smoothing: antialiased; color: #fff; background: {{usr.style.background}}; border-radius: 50%; box-shadow: 0 0 0 8px; text-align: center;">
                                        <i class="{{usr.style.icon}}"></i>
                                    </div>
                                </div>
                                <div class="user-info-sidebar">
                                    <div class="user-friends-count">
                                        <ul class="list-unstyled user-friends-count">
                                            <li ng-repeat="infoCounter in $ctrl.selectedFriendProfile.informationCounters | limitTo:3">
                                                <span>{{infoCounter.count}}</span>
                                                {{infoCounter.counterName}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section style="height: 100%;" class="profile-env">
                <div class="row">
                    <div class="col-sm-2" style="position: fixed; top: 277px; padding-right: 30px;">
                        <!-- User Info Sidebar -->
                        <div class="user-info-sidebar" style="margin-left: 30px;">
                            <div style=" width: 250px;">
                                <a href="javascript:void(0)" class="user-img" style="    margin-top: 10px; margin-bottom:0px">
                                    <img src="assets/images/user-4.png" style="width:80px; height: 80px;" ng-src="{{$ctrl.baseImageUrl}}/EntitiesDiscovery/images/{{$ctrl.profile.mainProfilePicture.imageId}}" alt="user-img" class="img-cirlce img-responsive img-thumbnail">
                                </a>
                                <a href="javascript:void(0)" class="user-img">
                                    <div style="opacity:0" class="slider2">
                                        <div class="slide" style="vertical-align: middle; display: block; margin-bottom: 10px; text-align: center; list-style: none; margin-right: 1px; box-sizing: border-box;" ng-repeat="profImg in $ctrl.profile.profilePictures | limitTo:5">
                                            <img src="assets/images/user-4.png" ng-src="{{$ctrl.baseImageUrl}}/EntitiesDiscovery/images/{{profImg.imageId}}" alt="user-img" style="width: 50px; padding: 4px; border: 0; display: inline-block;" class="img-cirlce img-responsive img-thumbnail">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <a href="javascript:void(0)" class="user-name">{{$ctrl.profile.fullName}}</a>
                            <br/>
                            <div style="min-height: 40px;">
                                <div ng-repeat="usr in $ctrl.profile.users" class="cbp_tmicon timeline-bg-info" style="float: left; width: 40px; height: 40px; speak: none; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; font-size: 1.4em; line-height: 40px; -webkit-font-smoothing: antialiased; color: #fff; background: {{usr.style.background}}; border-radius: 50%; box-shadow: 0 0 0 8px; text-align: center;">
                                    <a href="{{ !usr.style.url ? 'javascript:void(0)' : usr.style.url + usr.userId }}" target="_blank" style="color:#ffffff; text-decoration: none;">
                                        <i class="{{usr.style.icon}}"></i>
                                    </a>
                                </div>
                            </div>
                            <ul class="list-unstyled user-info-list">
                                <li ng-repeat="plc in $ctrl.profile.placesLived">
                                    <i class="fa-home"></i>
                                    {{plc.placeName}}
                                </li>
                                <li ng-repeat="plc in $ctrl.profile.workplaces">
                                    <i class="fa-briefcase"></i>
                                    {{plc.workplaceName}}
                                </li>
                                <li ng-repeat="plc in $ctrl.profile.placesStudied">
                                    <i class="fa-graduation-cap"></i>
                                    {{plc.educationPlaceName}}
                                </li>
                            </ul>

                            <ul class="list-unstyled user-friends-count" style="float: left; clear: both;">
                                <li ng-repeat="infoCounter in $ctrl.profile.informationCounters | limitTo:3">
                                    <span>{{infoCounter.count}}</span>
                                    {{infoCounter.counterName}}
                                </li>
                            </ul>

                            <ul class="list-unstyled user-friends-count" style="float: left; clear: both;">
                                <li ng-repeat="infoCounter in $ctrl.profile.informationCounters | limitTo:6"
                                    ng-if="$index>2">
                                    <span>{{infoCounter.count}}</span>
                                    {{infoCounter.counterName}}
                                </li>
                            </ul>
                            <div class="row"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Bottom Scripts -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/resizeable.js"></script>
    <script src="assets/js/joinable.js"></script>
    <script src="assets/js/xenon-api.js"></script>
    <script src="assets/js/xenon-toggles.js"></script>
    <script src="assets/js/datatables/js/jquery.dataTables.min.js"></script>

    <!-- Imported scripts on this page -->
    <script src="assets/js/datatables/dataTables.bootstrap.js"></script>
    <script src="assets/js/datatables/yadcf/jquery.dataTables.yadcf.js"></script>
    <script src="assets/js/datatables/tabletools/dataTables.tableTools.min.js"></script>
    <script src="assets/js/xenon-widgets.js"></script>
    <script src="assets/js/devexpress-web-14.1/js/globalize.min.js"></script>
    <script src="assets/js/devexpress-web-14.1/js/dx.chartjs.js"></script>
    <script src="assets/js/toastr/toastr.min.js"></script>
    <script>
        var reqs_per_second_data = [
            {time: new Date("October 02, 2014 01:00:00"), reqs: 89},
            {time: new Date("October 02, 2014 02:00:00"), reqs: 79},
            {time: new Date("October 02, 2014 03:00:00"), reqs: 115},
            {time: new Date("October 02, 2014 04:00:00"), reqs: 186},
            {time: new Date("October 02, 2014 05:00:00"), reqs: 110},
            {time: new Date("October 02, 2014 06:00:00"), reqs: 196},
            {time: new Date("October 02, 2014 07:00:00"), reqs: 128},
            {time: new Date("October 02, 2014 08:00:00"), reqs: 51},
            {time: new Date("October 02, 2014 09:00:00"), reqs: 70},
            {time: new Date("October 02, 2014 10:00:00"), reqs: 54},
            {time: new Date("October 02, 2014 11:00:00"), reqs: 2},
            {time: new Date("October 03, 2014 12:00:00"), reqs: 184},
            {time: new Date("October 03, 2014 13:00:00"), reqs: 48},
            {time: new Date("October 02, 2014 14:00:00"), reqs: 75},
            {time: new Date("October 02, 2014 15:00:00"), reqs: 200},
            {time: new Date("October 02, 2014 16:00:00"), reqs: 9},
            {time: new Date("October 02, 2014 17:00:00"), reqs: 37},
            {time: new Date("October 02, 2014 18:00:00"), reqs: 152},
            {time: new Date("October 02, 2014 19:00:00"), reqs: 78},
            {time: new Date("October 02, 2014 20:00:00"), reqs: 154},
            {time: new Date("October 02, 2014 21:00:00"), reqs: 184},
            {time: new Date("October 03, 2014 22:00:00"), reqs: 167},
            {time: new Date("October 04, 2014 23:00:00"), reqs: 12},
            {time: new Date("October 04, 2014 00:00:00"), reqs: 88},
        ];
        var cpu_usage_data = [
            {time: new Date("October 02, 2014 01:00:00"), usage: 75},
            {time: new Date("October 02, 2014 02:00:00"), usage: 55},
            {time: new Date("October 02, 2014 03:00:00"), usage: 49},
            {time: new Date("October 02, 2014 04:00:00"), usage: 87},
            {time: new Date("October 02, 2014 05:00:00"), usage: 8},
            {time: new Date("October 02, 2014 06:00:00"), usage: 20},
            {time: new Date("October 02, 2014 07:00:00"), usage: 39},
            {time: new Date("October 02, 2014 08:00:00"), usage: 26},
            {time: new Date("October 02, 2014 09:00:00"), usage: 87},
            {time: new Date("October 02, 2014 10:00:00"), usage: 69},
            {time: new Date("October 02, 2014 11:00:00"), usage: 40},
            {time: new Date("October 02, 2014 12:00:00"), usage: 57},
            {time: new Date("October 02, 2014 13:00:00"), usage: 48},
            {time: new Date("October 02, 2014 14:00:00"), usage: 73},
            {time: new Date("October 02, 2014 15:00:00"), usage: 28},
            {time: new Date("October 02, 2014 16:00:00"), usage: 5},
            {time: new Date("October 02, 2014 17:00:00"), usage: 73},
            {time: new Date("October 02, 2014 18:00:00"), usage: 27},
            {time: new Date("October 02, 2014 19:00:00"), usage: 63},
            {time: new Date("October 02, 2014 20:00:00"), usage: 5},
            {time: new Date("October 02, 2014 21:00:00"), usage: 100},
            {time: new Date("October 02, 2014 22:00:00"), usage: 61},
            {time: new Date("October 03, 2014 23:00:00"), usage: 39},
            {time: new Date("October 04, 2014 00:00:00"), usage: 59},
        ];

        var memory_usage_data = [
            {time: new Date("October 02, 2014 01:00:00"), used: 59},
            {time: new Date("October 02, 2014 02:00:00"), used: 92},
            {time: new Date("October 02, 2014 03:00:00"), used: 34},
            {time: new Date("October 02, 2014 04:00:00"), used: 07},
            {time: new Date("October 02, 2014 05:00:00"), used: 50},
            {time: new Date("October 02, 2014 06:00:00"), used: 72},
            {time: new Date("October 02, 2014 07:00:00"), used: 30},
            {time: new Date("October 02, 2014 08:00:00"), used: 18},
            {time: new Date("October 02, 2014 09:00:00"), used: 40},
            {time: new Date("October 02, 2014 10:00:00"), used: 71},
            {time: new Date("October 02, 2014 11:00:00"), used: 09},
            {time: new Date("October 02, 2014 12:00:00"), used: 78},
            {time: new Date("October 02, 2014 13:00:00"), used: 08},
            {time: new Date("October 02, 2014 14:00:00"), used: 85},
            {time: new Date("October 02, 2014 15:00:00"), used: 96},
            {time: new Date("October 02, 2014 16:00:00"), used: 73},
            {time: new Date("October 02, 2014 17:00:00"), used: 64},
            {time: new Date("October 02, 2014 18:00:00"), used: 95},
            {time: new Date("October 02, 2014 19:00:00"), used: 10},
            {time: new Date("October 02, 2014 20:00:00"), used: 93},
            {time: new Date("October 03, 2014 21:00:00"), used: 53},
            {time: new Date("October 03, 2014 22:00:00"), used: 09},
            {time: new Date("October 03, 2014 23:00:00"), used: 55},
            {time: new Date("October 04, 2014 00:00:00"), used: 144},
        ];

        var all_data_sources = [];

        $.map(reqs_per_second_data, function (arg, i) {
            all_data_sources.push({
                time: arg.time,
                requestsPerMinute: reqs_per_second_data[i].reqs,
                cpuUsage: cpu_usage_data[i].usage,
                memoryUsed: memory_usage_data[i].used
            });
        });
    </script>
    <!-- JavaScripts initializations and stuff -->
    <script src="assets/js/xenon-custom.js"></script>

</div>