<style>
    table th div {
        font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
    }

    table tr td {
        font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        color: #A9AAAA;
        padding-left: 15px !important;
    }

    .table > thead > tr > td:after, .table > thead > tr > th:after {
        display: none !important;
    }

    .table > thead > tr > td, .table > tbody > tr > td, .table > tfood > tr > td, .table > thead > tr > th, .table > tbody > tr > th, .table > tfood > tr > th {
        padding: 0px;
        margin: 0px;
    }
</style>

<div class="page-title">
    <div class="title-env">
        <h1 class="title">Entity Discovery</h1>
        <p class="description"></p>
    </div>
    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li><a href="dashboard.html"><i class="fa-home"></i>Home</a></li>
            <li class="active"><strong>Entity Discovery</strong></li>
        </ol>
    </div>
</div>
<div class="panel panel-default" style="position: absolute; top: 84px; bottom: 0px; left: 80px; right: 80px;background-color:transparent">
    <div class="panel-body" style="position: absolute; bottom: 0px; top: 20px; left:0px; right:0px">
        <a href="#/ed/new" class="btn btn-info btn-icon btn-icon-standalone pull-right">
            <i style="float:right" class="fa-search"></i>
            <span style="float: left; padding-left: 17px;">New Search</span>
        </a>
        <div style="position: absolute; bottom: 0px; top: 85px; left:0px; right:0px; height: auto!important; min-height: 0px;">
            <div style="width:100%; height:40px; border: 1px solid #eee; "></div>
            <div class="scrollableContainer" style=" overflow-y: scroll; overflow-x:hidden!important; height: calc(100% - 40px);" infinite-scroll-container='.scrollableContainer' infinite-scroll-offset='200' infinite-scroll="$ctrl.nextPage(deferredObj)">
                <table class="table table-bordered table-striped" style="margin: 0px; position: initial; ">
                    <thead>
                    <tr>
                        <th class="idrow">
                            <div style="width:40px"></div>
                        </th>
                        <th style="position: static;">
                            <div style="height: 0px; height: 0px; line-height: 0px; padding: 0px; margin: 0px; min-height: 0px; overflow: visible; position: initial;min-width: 100px;">
                                <div style="height:40px; position:absolute; top: 1px; border-left: 1px solid black; border-left: 1px solid #eee; line-height: 40px; padding-left: 15px; ">
                                    Query ID
                                </div>
                            </div>
                        </th>
                        <th style="position: static;">
                            <div style="height: 0px; height: 0px; line-height: 0px; padding: 0px; margin: 0px; min-height: 0px; overflow: visible; position: initial; min-width: 100px;">
                                <div style="height:30px; position:absolute; top: 1px; border-left: 1px solid black; border-left: 1px solid #eee; line-height: 40px; padding-left: 15px; ">
                                    Search Name
                                </div>
                            </div>
                        </th>
                        <th style="position: static;">
                            <div style="height: 0px; height: 0px; line-height: 0px; padding: 0px; margin: 0px; min-height: 0px; overflow: visible; position: initial; min-width: 100px;">
                                <div style="height:30px; position:absolute; top: 1px; border-left: 1px solid black; border-left: 1px solid #eee; line-height: 40px; padding-left: 15px; ">
                                    First Date
                                </div>
                            </div>
                        </th>
                        <th style="position: static;">
                            <div style="height: 0px; height: 0px; line-height: 0px; padding: 0px; margin: 0px; min-height: 0px; overflow: visible; position: initial; min-width: 100px;">
                                <div style="height:30px; position:absolute; top: 1px; border-left: 1px solid black; border-left: 1px solid #eee; line-height: 40px; padding-left: 15px; ">
                                    Last Date
                                </div>
                            </div>
                        </th>
                        <th style="position: static;">
                            <div style="height: 0px; height: 0px; line-height: 0px; padding: 0px; margin: 0px; min-height: 0px; overflow: visible; position: initial; min-width: 100px;">
                                <div style="height:30px; position:absolute; top: 1px; border-left: 1px solid black; border-left: 1px solid #eee; line-height: 40px; padding-left: 15px;">
                                    Next Date
                                </div>
                            </div>
                        </th>
                    </tr>
                    </thead>

                    <tbody class="middle-align">
                        <tr ng-repeat="task in $ctrl.tasks track by task.id" class="nsd-table-row" style="height: 42px;">

                            <td style="text-align: center; padding: 0px!important">
                                <i ng-style="task.status =='Running' && {'color': 'rgb(255, 186, 0)'} || task.status == 'Completed' && {'color': 'rgb(104, 184, 40)'}"
                                   ng-class="{'fa-cog fa-spin' : task.status =='Running', 'fa-times-circle': task.status =='Suspended', 'fa-clock-o': task.status =='Awaiting', 'fa-check-circle': task.status =='Completed'}"
                                   title="{{task.status}}" style="color: #40bbea; font-size: 25px; height: 25px;"></i>
                            </td>
                            <td>
                                <a ui-sref="ed_results({id:task.collectionRequest.requestValuesList[3].value})">{{task.collectionRequestId}}</a>
                            </td>
                            <td>
                                <a ui-sref="ed_results({id:task.collectionRequest.requestValuesList[3].value})">{{task.collectionRequest.name}}</a>
                            </td>
                            <td>{{task.creationTime | date:'short'}}</td>
                            <td>{{task.lastDate || task.creationTime | date:'short'}}</td>
                            <td>{{task.nextDate | date:'short'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>