<link rel="stylesheet" href="styles/css/material.datepicker.css">
<link rel="stylesheet" href="styles/css/bootstrap-datetimepicker.min.css">
<script src="assets/js/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sandbox-container input').datepicker({
            autoclose: true
        });
    });
</script>

<div class="page-title">
    <div class="title-env">
        <h1 class="title">Entity Discovery</h1>
        <p class="description"></p>
    </div>
    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li><a href="dashboard.html"><i class="fa-home"></i>Home</a></li>
            <li><a href="#/ed/gallery">Entity Discovery</a></li>
            <li class="active"><strong>ED Query</strong></li>
        </ol>
    </div>
</div>

<div class="panel panel-default">
    <div ng-style="$ctrl.id && {'pointer-events':'none'}" class="panel-body form-horizontal">
        <div class="form-group">
            <label class="col-sm-1 control-label" for="field-1">
                <input ng-change="(!$ctrl.searchParams.usernames.facebook.isActive && ($ctrl.searchParams.usernames.facebook.text = '')) ? $('#field-facebook').focus() : void(0)"
                       ng-model="$ctrl.searchParams.usernames.facebook.isActive" type="checkbox"
                       class="iswitch iswitch-blue">
                <div class="cbp_tmicon timeline-bg-info" style="margin-top: -10px;float: left;width: 40px;    height: 40px;    speak: none;    font-style: normal;    font-weight: 400;    font-variant: normal;    text-transform: none;   font-size: 1.4em;   line-height: 40px; -webkit-font-smoothing: antialiased;color: #fff;background: #3b5998;border-radius: 50%;box-shadow: 0 0 0 8px ;text-align: center;">
                    <i class="fa-facebook"></i>
                </div>
            </label>
            <div class="col-sm-4"
                 ng-style="!$ctrl.searchParams.usernames.facebook.isActive && {'opacity': '0.5', 'pointer-events': 'none'}">
                <input type="text" ng-model="$ctrl.searchParams.usernames.facebook.text" tabindex="-1"
                       class="form-control" id="field-facebook" placeholder="Facebook Username">
            </div>
        </div>
        <div class="form-group-separator"></div>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="field-1">
                <input ng-change="!$ctrl.searchParams.usernames.twitter.isActive && ($ctrl.searchParams.usernames.twitter.text = '')"
                       type="checkbox" ng-model="$ctrl.searchParams.usernames.twitter.isActive"
                       class="iswitch iswitch-info">
                <div class="cbp_tmicon timeline-bg-info"
                     style="margin-top: -10px;float: left; width: 40px;    height: 40px;    speak: none;    font-style: normal;    font-weight: 400;    font-variant: normal;    text-transform: none;   font-size: 1.4em;   line-height: 40px; -webkit-font-smoothing: antialiased;color: #fff;background: #46a4da;border-radius: 50%;box-shadow: 0 0 0 8px ;text-align: center;">
                    <i class="fa-twitter"></i></div>
            </label>
            <div class="col-sm-4"
                 ng-style="!$ctrl.searchParams.usernames.twitter.isActive && {'opacity': '0.5', 'pointer-events': 'none'}">
                <input ng-model="$ctrl.searchParams.usernames.twitter.text" type="text" class="form-control" id="field-1" placeholder="Twitter Username">
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-header" style="color: #979898; padding-left: 30px;">
        Parameters:
    </div>
    <div ng-style="$ctrl.id && {'pointer-events':'none'}" ng-form name="searchForm" class="panel-body form">
        <br>
        <div class="col-md-12" style="margin-bottom: 15px;">
            <div class="col-md-1"></div>
            <input ng-show="!$ctrl.id" type="file" onchange="angular.element(this).scope().$ctrl.fileNameChanged(this)" style="padding-left: 15px; display: inline-block; "/>
            <span style="width:0px; height:0px; overflow:visible; position:relative; outline:none; border:none;">
                <img ng-if="$ctrl.searchParams.filePath" accept="image/*" style="outline:none; border:none; width: 150px; height:110px; transform: translate(-255px, -84px);" ng-src="{{$ctrl.searchParams.filePath}}">
            </span>
        </div>

        <div class="form-group col-md-6"><label class="col-sm-2 control-label" for="field-1">First Name</label>
            <div class="col-sm-10">
                <input type="text" ng-model="$ctrl.searchParams.firstName" class="form-control" id="field-1" placeholder="">
            </div>
        </div>
        <div class="form-group col-md-6"><label class="col-sm-2 control-label" for="field-1">Middle Name</label>
            <div class="col-sm-10">
                <input type="text" ng-model="$ctrl.searchParams.middleName" class="form-control" id="field-1" placeholder="">
            </div>
        </div>
        <div class="form-group col-md-6"><label class="col-sm-2 control-label" for="field-1">Last Name</label>
            <div class="col-sm-10">
                <input type="text" ng-model="$ctrl.searchParams.lastName" class="form-control" id="field-1" placeholder="" ng-required="$ctrl.validateData()">
            </div>
        </div>

        <div class="form-group col-md-6"><label class="col-sm-2 control-label" for="field-1">Email</label>
            <div class="col-sm-10">
                <input type="text" ng-model="$ctrl.searchParams.mail" class="form-control" data-mask="email" ng-required="$ctrl.validateData()">
            </div>
        </div>
        <div class="form-group col-md-6"><label class="col-sm-2 control-label" for="field-1">Phone number</label>
            <div class="col-sm-10">
                <input type="text" ng-model="$ctrl.searchParams.phone" class="form-control" data-mask="phone" ng-required="$ctrl.validateData()">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-sm-2 control-label" for="field-1">Gender</label>
            <div class="col-md-5">
                <input class="icheck-11" type="radio" ng-model="$ctrl.searchParams.sex" value="MALE" id="minimal-radio-1-11" checked name="minimal-radio-1">
                <label for="minimal-radio-1-11">Male</label>
            </div>
            <div class="col-md-5">
                <input tabindex="8" class="icheck-11" ng-model="$ctrl.searchParams.sex" value="FEMALE" type="radio" id="minimal-radio-2-11" name="minimal-radio-1">
                <label for="minimal-radio-2-11">Female</label>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-sm-2 control-label">Birth Date</label>
            <div class="col-lg-5">
                <div class="input-group date" id="sandbox-container">
                    <input type="text" placeholder="Date of Birth" data-date-format='dd/mm/yyyy' name="Date of Birth" class="form-control" ng-model="$ctrl.searchParams.birthdate">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-sm-2 control-label">Family member</label>
            <div class="col-sm-10 form-group">
                <input type="text" class="form-control" placeholder="Enter any Name" ng-model="$ctrl.searchParams.FamilyMember">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-sm-2 control-label">Friend</label>
            <div class="col-sm-10 form-group">
                <input type="text" class="form-control" placeholder="Enter any Name" ng-model="$ctrl.searchParams.Friend">
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-sm-2 control-label">Places</label>
            <div class="col-sm-5">
                <select class="form-control" ng-model="$ctrl.searchParams.PlaceLived">
                <select class="form-control" ng-model="$ctrl.searchParams.PlaceLived">
                    <option value="" selected="selected">Choose place</option>
                    <option>Current city</option>
                    <option>hometown</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="col-sm-5 nopadding">
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" placeholder="Enter any Place" ng-model="$ctrl.searchParams.PlaceLivedDescription">
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-sm-2 control-label">Workplace</label>
            <div class="col-sm-5">
                <select class="form-control" ng-model="$ctrl.searchParams.WorkPlace">
                    <option value="" selected="selected">Choose place</option>
                    <option>current</option>
                    <option>previous</option>
                    <option>other</option>
                </select>
            </div>
            <div class="col-sm-5 nopadding">
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" placeholder="Enter any Work place" ng-model="$ctrl.searchParams.WorkPlaceDescription">
                </div>
            </div>
        </div>


        <div class="form-group col-md-6">
            <div>
                <label class="col-sm-2 control-label">Education</label>
                <div class="col-sm-5">
                    <select class="form-control" ng-model="$ctrl.searchParams.Education">
                        <option value="" selected="selected">Choose place</option>
                        <option>high school</option>
                        <option>college</option>
                        <option>other</option>
                    </select>
                </div>
                <div class="col-sm-5 nopadding">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" placeholder="Enter any Institution" ng-model="$ctrl.searchParams.EducationDescription">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="text-align:center" ng-show="!$ctrl.id">
    <button class="btn btn-success btn-icon pull-right" ng-click="searchForm.$valid && $ctrl.search()"
            style="float: none!important; margin-top: 30px;">
        <i class="fa-check"></i>
        <span>Search</span>
    </button>
</div>
