<script src="assets/js/jquery-1.11.1.min.js"></script>

<style>
    .fa-angle-right, .fa-angle-down {
        font-size: 20px;
        font-weight: bold;
    }
</style>


<style>
    .ui-draggable-dragging {
        border: 2px solid #ddd !important;
    }

    .dragLine {
        border: 2px solid transparent;
    }

    .dragLine.ui-droppable-hover {
        border: 2px solid #8DC63F;
    }

    .popover {
        z-index: 9999;
    }

    #imagesScroll::-webkit-scrollbar {
        background: #eaeaea;
        height: 6px;
    }

    #imagesScroll::-webkit-scrollbar-thumb {
        background: #bbb;
    }
</style>


<style>
    .profile-strength-wrap {
        position: relative;
        margin-top: 40px;
        width: 200px;
        height: 100px;
    }

    .profile-strength-wrap .fill {
        position: absolute;
        top: 90px;
        left: 0;
        height: 0px;
        width: 90px;
        overflow: hidden;
    }

    .profile-strength-wrap .mask {
        display: block;
        height: 90px;
        left: 0;
        position: absolute;
        top: 0;
        width: 90px;
        overflow: hidden;
        border-radius: 50%;
        border: 4px solid #CACACA;
        z-index: 120;
    }

    .profile-strength-wrap span.level {
        position: absolute;
        left: 12%;
        top: 1px;
        width: 60%;
        text-align: right;
        border-bottom: 1px solid #888;
        text-transform: capitalize;
    }

    .profile-strength h3 {
        font-size: 1.2em;
        text-align: left;
        font-weight: 500;
    }

    .Socitem.custom-bing {
        background-image: url(styles/images/bing.png);
        background-size: 100% 100%;
    }

    .Socitem.custom-google {
        background-image: url(styles/images/google.png);
        background-size: 100% 100%;
    }

    .page-title {
        color: white;
    }

</style>


<script>
    function fillMeter(item, percent) {
        setTimeout(function () {
            var pixels = (percent / 100) * 90;
            $(item).find(".fill").css('top', (90 - pixels) + "px");
            $(item).find(".level").css('top', (77 - pixels) + "px");
            $(item).find(".fill").css('height', pixels + "px");


            if (percent <= 0) {
                $(item).find(".level").css("top", "67px");
                $(item).find(".level").text("Lowest");
            } else if (percent <= 25) {
                $(item).find(".fill").css('background', "#FF0000");
                $(item).find(".level").text("Low");
            } else if (percent <= 50) {
                $(item).find(".fill").css('background', "#FF6D3E");
                $(item).find(".level").text("Medium");
            } else if (percent <= 75) {
                $(item).find(".fill").css('background', "#F2C548");
                $(item).find(".level").text("High");
            } else if (percent <= 90) {
                $(item).find(".fill").css('background', "#43b628");
                $(item).find(".level").text("Very High");
            } else if (percent <= 100) {
                $(item).find(".level").text("Highest");
                $(item).find(".fill").css('background', "#43b628");
            } else if (percent <= 99) {
                $(item).find(".level").css("top", "0");
            }
        }, 0);
    }
</script>

<style type="text/css">
    .example > ul {
        display: block;
        width: 800px;
        margin-bottom: 30px;
    }
</style>


<div class="page-title" ng-show="!$ctrl.edId">
    <div class="title-env">
        <h1 class="title">Entity Discovery</h1>
        <p class="description"></p>
    </div>
    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li><a href="dashboard.html"><i class="fa-home"></i>Home</a></li>
            <li><a href="#/ed/gallery">Entity Discovery</a></li>
            <li class="active"><strong>ED Results</strong></li>
        </ol>
    </div>
</div>


<div class="main-content" style="left: 0px; top: 0px; overflow: visible; position:relative; display:block; height:100%;">
    <div class="panel panel-default" style="position:absolute; top:0px; bottom:0px; margin:0px; padding: 0px;  overflow:hidden; right: 0px; left: 15px;">
        <div class="panel-body" style="padding-top:0px; padding-right: 20px; position:relative; height: 100%;">
            <table class="table table-hover members-table middle-align" style="margin-top: 10px;">
                <thead>
                    <tr>
                        <th class="hidden-xs hidden-sm" style="width:80px"></th>
                        <th style="width: 15%; padding:0px">Name</th>
                        <th style="width:25%; padding-right:30px" class="hidden-xs hidden-sm">Properties</th>
                        <th style="width:12%; padding-left:0px; padding-right:30px">User ID</th>
                        <th style="width:300px;padding-left:0px; text-align:center;  padding-right:100px">Images</th>
                        <th ng-show="!$ctrl.edId" style="width:250px; padding-right:30px">Match</th>
                        <th ng-show="!$ctrl.edId" style="width:170px;">Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div style="position: absolute; bottom: 0px; top: 60px; right: 20px; left: 0px; overflow: auto;">
                <div ng-repeat="block in $ctrl.lines track by $index" style="margin-right: 5px; position:relative; {{block.items.length > 1 ? 'border: 2px solid lightyellow;  margin-bottom: 5px;' : ''}}">
                    <a href="javascript:void(0)" ng-click="block.showDetailsJoin = !block.showDetailsJoin" ng-show="block.items.length > 1" style="z-index: 10; top: 50%; position: absolute; right: 10px; transform: translate(-50%, -50%);" class="btn btn-sm btn-icon icon-left">
                        <i style=" background: #5D6878;  border-radius: 15px;  padding: 10px;" class="fa-angle-down"></i>
                    </a>

                    <div class="dragLine" style="" ng-repeat="line in block.items" data-drag="block.items.length == 1"
                         data-jqyoui-options="{revert: 'invalid'}"
                         jqyoui-draggable="{animate:true, placeholder:true, onDrag: '$ctrl.dragCallback(block, $parent, $parent.$index)'}"
                         data-drop="true"
                         jqyoui-droppable="{onDrop: '$ctrl.dropCallback(block, $parent, $parent.$index)'}">
                        <table style="    width: 100%;">
                            <tr style="border-bottom: 1px solid #eee;">
                                <td style="width: 80px; text-align: center;" class="user-image hidden-xs hidden-sm">
                                    <a href="#">
                                        <img style="width: 48px; height: 48px;" onerror="this.src = 'img/default.jpg'" src="img/default.jpg" ng-src="{{line.entityDetailsDTO.profilePicture.imagePath}}" class="img-circle" alt="user-pic">
                                    </a>
                                </td>
                                <td class="user-name" style="width: 15%;">
                                    <div style="line-height: 40px; float:left">
                                        <a href="#" class="name">{{line.entityDetailsDTO.fullName}}</a>
                                        <span ng-if="false">Administrator</span>
                                    </div>
                                    <div class="cbp_tmicon timeline-bg-info" style="     margin-right: 30px; float: right;width: 40px;     margin-left: 8px;   height: 40px;    speak: none;    font-style: normal;    font-weight: 400;    font-variant: normal;    text-transform: none;   font-size: 1.4em;   line-height: 45px; -webkit-font-smoothing: antialiased;color: #fff;background: {{line.style.background}};border-radius: 50%;box-shadow: 0 0 0 8px ;text-align: center;">
                                        <i class="Socitem {{line.style.icon}}"></i>
                                    </div>
                                </td>
                                <td class="hidden-xs hidden-sm" style="width:25%; padding-right:30px">
                                    <ul class="list-unstyled user-info-list" style="padding-left:20px">
                                        <li>
                                            <i class="fa-home"></i>
                                            {{line.entityDetailsDTO.placesLivedStr}}
                                        </li>
                                        <li>
                                            <i class="fa-briefcase"></i>
                                            {{line.entityDetailsDTO.workplacesStr}}
                                        </li>
                                        <li>
                                            <i class="fa-graduation-cap"></i>
                                            {{line.entityDetailsDTO.placesStudiedStr}}
                                        </li>
                                    </ul>
                                </td>
                                <td class="user-id" style="width:12%; padding-right:30px">
                                    <span>{{line.entityDetailsDTO.userId}}</span>
                                </td>

                                <td class="" style="width:300px; padding-right:30px">
                                    <div id="imagesScroll" style="height: 48px; overflow-y: hidden; overflow-x: auto; white-space: nowrap; width: 250px;">
                                        <img ng-repeat="img in line.imagesScores"
                                             ng-src="/EntitiesDiscovery/images/{{img.imageDTO.imageId}}"
                                             class="img-circle popover-red" data-toggle="popover" data-trigger="hover"
                                             data-placement="bottom"
                                             data-content='<img style="width:80px; height:80px" src="{{$ctrl.originalImagePath}}" class="img-circle"> <img src="/EntitiesDiscovery/images/{{img.imageDTO.imageId}}" class="img-circle" style="width:80px; height:80px">'
                                             data-html="true" data-original-title="{{line.score}}% match!"
                                             alt="user-pic" style="width:42px; height:42px">
                                    </div>
                                </td>

                                <td ng-show="!$ctrl.edId" style="width:250px;">
                                    <div class="profile-strength">
                                        <div class="profile-strength-wrap filler{{line.guid}}">
                                            <div class="mask">
                                                <div class="fill"></div>
                                            </div>
                                            <span class="level" ng-init="$ctrl.fillFilter(line, line.guid)"></span>
                                        </div>
                                    </div>
                                </td>

                                <td ng-show="!$ctrl.edId" class="sorting_1" style="width: 170px;" ng-style="$ctrl.edId && {'pointer-events':'none'}">
                                    <a href="#" class="btn btn-sm btn-icon icon-left">
                                        <i class="linecons-trash"></i>
                                    </a>

                                    <a ng-show="block.items.length == 1" href="javascript:void(0)"
                                       ng-click="block.showDetails = !block.showDetails"
                                       class="btn btn-sm btn-icon icon-left">
                                        <i class="fa-angle-{{block.showDetails ? 'up' : 'down'}}"></i>
                                    </a>

                                    <a ng-show="block.items.length != 1" href="javascript:void(0)"
                                       ng-click="$ctrl.unlink(block, $index, line, $parent.$index)"
                                       class="btn btn-sm btn-icon icon-left">
                                        <i class="fa-unlock"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-show="(block.showDetails && block.items.length == 1) || (block.showDetailsJoin && $index == block.items.length - 1)" style="border-bottom: 1px solid #aaa;">
                                <td colspan="6" style="    padding-top: 10px;">
                                    <div class="col-md-12">
                                        <div style="width: 100%; height: 35px; margin-bottom: 25px;">
                                            <span style="display:inline-block; width:100px; float:left; line-height: 32px;">Dictionary:</span>
                                            <select class="form-control" ng-model="$ctrl.selectedDictionary" ng-change="$ctrl.dictionaryPicked()" style="float: left; width: auto;">
                                                <option ng-repeat="dictionary in $ctrl.getOpenDictionaries()"
                                                        value="{{dictionary.name}}">{{dictionary.name}}
                                                </option>
                                            </select>
                                        </div>

                                        <div style="width:200px; float: left; margin-right: 15px;" ng-repeat="column in $ctrl.categoriesColumns">
                                            <div style="font-weight: bold; font-size: 16px; margin-bottom: 6px; padding: 2px; padding-left: 6px;">
                                                {{column.dictionary}}
                                            </div>
                                            <span style="display:inline-block; width: 200px; box-sizing: border-box;"
                                                  ng-repeat="category in column.categories">
												<input type="checkbox" class="cbr cbr-primary" checked="checked"
                                                       ng-model="category.isChecked" id="sp-chk1"/>
												<label title="{{category.name}}" for="sp-chk1"
                                                       style="vertical-align: middle; width: 170px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><b>{{category.name}}</b></label>
											</span>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <a href="javascript:void(0)" ng-click="$ctrl.execute(block)"
                                       class="btn btn-sm btn-icon icon-left">
                                        <i class="fa-angle-right"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/TweenMax.min.js"></script>
<script src="assets/js/resizeable.js"></script>
<script src="assets/js/joinable.js"></script>
<script src="assets/js/xenon-api.js"></script>

<script src="assets/js/xenon-widgets.js"></script>
<script src="assets/js/devexpress-web-14.1/js/globalize.min.js"></script>
<script src="assets/js/devexpress-web-14.1/js/dx.chartjs.js"></script>
<script src="assets/js/toastr/toastr.min.js"></script>

<script src="assets/js/xenon-custom.js"></script>
