<link rel="stylesheet" href="assets/css/zc.css" type="text/css">
<link rel="stylesheet" href="assets/css/jquery.bxslider.css" type="text/css">
<link rel="stylesheet" href="assets/css/jqcloud.css" type="text/css">
	
<script src="assets/js/Jqcloud/src/jqcloud.js"></script>

<div id="TagCloud" style="min-height:310px"></div>