<div class="area2-Summary" id="Gauge">
    <div style="height:200px" class="catChart"></div>
    <div id="" style="    margin-top: 15px;">
        <div id="panel" style="auto; text-align: left; margin-top:0px;">
            <div ng-repeat="cat in $ctrl.categories" class="Xcbr-replaced Xcbr-checked Xcbr-secondary">
                <input type="checkbox" ng-model="cat.isSelected" ng-change="$ctrl.dictFilterChanged()"/>
                <span style="margin-left: 10px; color:{{$ctrl.xenonPalette[$index]}}">{{cat.categoryName}}</span>
            </div>
        </div>
    </div>
    <div style="text-align:center; margin-top:30px">
        <span ng-click="$ctrl.runFullLA()" style="background: rgba(0, 0, 0, 0.1); padding: 12px; cursor:pointer; border: 1px solid #666;">Run full closest links analysis</span>
    </div>
</div>