<div style="height:100%">
    <div class="settings-pane">
        <a href="#" data-toggle="settings-pane" data-animate="true">&times;</a>
        <div class="settings-pane-inner">
            <div class="row">
                <div class="col-md-4">
                    <div class="user-info">
                        <div class="user-image">
                            <a href="extra-profile.html">
                                <img src="assets/images/user-2.png" class="img-responsive img-circle"/>
                            </a>
                        </div>
                        <div class="user-details">
                            <h3>
                                <a href="extra-profile.html">John Smith</a>
                                <span class="user-status is-online"></span>
                            </h3>
                            <p class="user-title">Web Developer</p>
                            <div class="user-links">
                                <a href="extra-profile.html" class="btn btn-primary">Edit Profile</a>
                                <a href="extra-profile.html" class="btn btn-success">Upgrade</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 link-blocks-env">
                    <div class="links-block left-sep">
                        <h4>
                            <span>Notifications</span>
                        </h4>
                        <ul class="list-unstyled">
                            <li>
                                <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk1"/>
                                <label for="sp-chk1">Messages</label>
                            </li>
                            <li>
                                <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk2"/>
                                <label for="sp-chk2">Events</label>
                            </li>
                            <li>
                                <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk3"/>
                                <label for="sp-chk3">Updates</label>
                            </li>
                            <li>
                                <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk4"/>
                                <label for="sp-chk4">Server Uptime</label>
                            </li>
                        </ul>
                    </div>

                    <div class="links-block left-sep">
                        <h4>
                            <a href="#">
                                <span>Help Desk</span>
                            </a>
                        </h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">
                                    <i class="fa-angle-right"></i>
                                    Support Center
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-angle-right"></i>
                                    Submit a Ticket
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-angle-right"></i>
                                    Domains Protocol
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-angle-right"></i>
                                    Terms of Service
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-container">
        <div ng-init="$ctrl.sideBarIsOpen = true" style="background:#2c3e50" class="sidebar-menu toggle-others fixed {{ !$ctrl.sideBarIsOpen ? 'collapsed' : ''}}">
            <div class="sidebar-menu-inner" style="background:#2c3e50">
                <header class="logo-env">
                    <div class="logo">
                        <a href="dashboard.html" class="logo-expanded">
                            <img src="assets/images/logo@2x.png" width="80" alt=""/>
                        </a>

                        <a href="dashboard-1.html" class="logo-collapsed">
                            <img src="assets/images/logo-collapsed@2x.png" width="40" alt=""/>
                        </a>
                    </div>
                    <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
                    <div class="mobile-menu-toggle visible-xs">
                        <a href="#" data-toggle="user-info-menu">
                            <i class="fa-bell-o"></i>
                            <span class="badge badge-success">7</span>
                        </a>
                    </div>
                </header>


                <ul id="main-menu" class="main-menu">
                    <!-- add class "multiple-expanded" to allow multiple submenus to open -->
                    <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
                    <li ng-class="{'active': menuLine.isActive}" ng-repeat="menuLine in $ctrl.sideMenuItems">
                        <a ng-href="{{menuLine.path}}">
                            <i class="{{menuLine.icon}}"></i>
                            <span class="title">{{menuLine.title}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <nav class="navbar user-info-navbar navbar-fixed-top" role="navigation">
            <ul ng-click="$ctrl.sideBarIsOpen = !$ctrl.sideBarIsOpen" class="user-info-menu left-links list-inline list-unstyled">
                <li class="hidden-sm hidden-xs">
                    <a href="javascript:void(0)" data-toggle="sidebar">
                        <i class="fa-bars"></i>
                    </a>
                </li>
                <li class="dropdown hover-line">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa-envelope-o"></i>
                        <span class="badge badge-green">15</span>
                    </a>
                    <ul class="dropdown-menu messages">
                        <li>
                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                <li class="active">
                                    <a href="#">
                                        <span class="line">
                                            <strong>Luc Chartier</strong>
                                            <span class="light small">- yesterday</span>
                                        </span>
                                        <span class="line desc small">This ain’t our first item, it is the best of the rest.</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">
                                        <span class="line">
                                            <strong>Salma Nyberg</strong>
                                            <span class="light small">- 2 days ago</span>
                                        </span>
                                        <span class="line desc small">Oh he decisively impression attachment friendship so if everything.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="line">Hayden Cartwright
                                            <span class="light small">- a week ago</span>
                                        </span>
                                        <span class="line desc small">Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="line">Sandra Eberhardt
                                            <span class="light small">- 16 days ago</span>
                                        </span>
                                        <span class="line desc small">On so attention necessary at by provision otherwise existence direction.</span>
                                    </a>
                                </li>

                                <li class="active">
                                    <!-- "active" class means message is unread -->
                                    <a href="#">
                                        <span class="line">
                                            <strong>Luc Chartier</strong>
                                            <span class="light small">- yesterday</span>
                                        </span>
                                        <span class="line desc small">This ain’t our first item, it is the best of the rest.</span>
                                    </a>
                                </li>

                                <li class="active">
                                    <a href="#">
                                        <span class="line">
                                            <strong>Salma Nyberg</strong>
                                            <span class="light small">- 2 days ago</span>
                                        </span>
                                        <span class="line desc small">Oh he decisively impression attachment friendship so if everything.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="line">Hayden Cartwright
                                            <span class="light small">- a week ago</span>
                                        </span>
                                        <span class="line desc small">Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="line">Sandra Eberhardt
                                            <span class="light small">- 16 days ago</span>
                                        </span>
                                        <span class="line desc small">On so attention necessary at by provision otherwise existence direction.</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="external">
                            <a href="mailbox-main.html">
                                <span>All Messages</span>
                                <i class="fa-link-ext"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown hover-line">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa-bell-o"></i>
                        <span class="badge badge-purple">7</span>
                    </a>

                    <ul class="dropdown-menu notifications">
                        <li class="top">
                            <p class="small">
                                <a href="#" class="pull-right">Mark all Read</a>
                                You have <strong>3</strong> new notifications.

                            </p>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                <li class="active notification-success">
                                    <a href="#">
                                        <i class="fa-user"></i>
                                        <span class="line">
                                            <strong>New user registered</strong>
                                        </span>
                                        <span class="line small time">30 seconds ago</span>
                                    </a>
                                </li>
                                <li class="active notification-secondary">
                                    <a href="#"></a>
                                </li>
                                <li class="notification-primary">
                                    <a href="#">
                                        <i class="fa-thumbs-up"></i>
                                        <span class="line">
                                            <strong>Someone special liked this</strong>
                                        </span>
                                        <span class="line small time">2 minutes ago</span>
                                    </a>
                                </li>
                                <li class="notification-danger">
                                    <a href="#">
                                        <i class="fa-calendar"></i>
                                        <span class="line">John cancelled the event</span>
                                        <span class="line small time">9 hours ago</span>
                                    </a>
                                </li>
                                <li class="notification-info">
                                    <a href="#">
                                        <i class="fa-database"></i>
                                        <span class="line">The server is status is stable</span>
                                        <span class="line small time">yesterday at 10:30am</span>
                                    </a>
                                </li>

                                <li class="notification-warning">
                                    <a href="#">
                                        <i class="fa-envelope-o"></i>
                                        <span class="line">New comments waiting approval</span>
                                        <span class="line small time">last week</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="external">
                            <a href="#">
                                <span>View all notifications</span>
                                <i class="fa-link-ext"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown hover-line language-switcher">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/images/flags/flag-uk.png" alt="flag-uk"/>
                        English
                    </a>

                    <ul class="dropdown-menu languages">
                        <li>
                            <a href="#">
                                <img src="assets/images/flags/flag-al.png" alt="flag-al"/>
                                Shqip
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">
                                <img src="assets/images/flags/flag-uk.png" alt="flag-uk"/>
                                English
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/flags/flag-de.png" alt="flag-de"/>
                                Deutsch
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/flags/flag-fr.png" alt="flag-fr"/>
                                Fran&ccedil;ais
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/flags/flag-br.png" alt="flag-br"/>
                                Portugu&ecirc;s
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/flags/flag-es.png" alt="flag-es"/>
                                Espa&ntilde;ol
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>

            <!-- Right links for user info navbar -->
            <ul class="user-info-menu right-links list-inline list-unstyled">
                <li class="search-form">
                    <!-- You can add "always-visible" to show make the search input visible -->
                    <form name="userinfo_search_form" method="get" action="search.html">
                        <input type="text" name="s" class="form-control search-field" placeholder="Type to search..."/>
                        <button type="submit" class="btn btn-link">
                            <i class="linecons-search"></i>
                        </button>
                    </form>

                </li>

                <li class="dropdown user-profile">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/images/user-4.png" alt="user-image" class="img-circle img-inline userpic-32"
                             width="28"/>
                        <span>John Smith
                            <i class="fa-angle-down"></i>
                        </span>
                    </a>

                    <ul class="dropdown-menu user-profile-menu list-unstyled">
                        <li>
                            <a href="#edit-profile">
                                <i class="fa-edit"></i>
                                New Post
                            </a>
                        </li>
                        <li>
                            <a href="#settings">
                                <i class="fa-wrench"></i>
                                Settings
                            </a>
                            checkedli>
                        <li>
                            <a href="#profile">
                                <i class="fa-user"></i>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="#help">
                                <i class="fa-info"></i>
                                Help
                            </a>
                        </li>
                        <li class="last">
                            <a href="extra-lockscreen.html">
                                <i class="fa-lock"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" data-toggle="chat">
                        <i class="fa-comments-o"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="main-content" style="height:100%; display:block; position:relative; overflow-y:auto; background: linear-gradient(to bottom, rgba(44,62,80,1) 0%, rgb(106, 115, 130) 100%);">
            <ui-view></ui-view>
        </div>
    </div>
</div>

<div class="systemPopups" style="position:fixed; left:0; right:0; top:0; bottom:0; z-index: 9999;" ng-cloak ng-show="$ctrl.popups.length">
    <div style="position:absolute; height:100%; width:100%; background:white; opacity:0.3"></div>
    <div style="width: {{popup.width}}; margin: auto; height: 100%; position:relative" ng-repeat="popup in $ctrl.popups" ng-cloak>
        <div style=" border-radius: 15px; box-shadow: 0px 0px 20px #111; height: {{popup.height}}; position: absolute; top: 50%; transform: translateY(-50%); width: 100%; border: 1px solid #5B6874">
            <div style="height:30px; width:100%; background:#5B6874; padding-left: 10px; color: white; line-height: 30px; font-size: 18px;">
                <span style="padding-left: 15px;">{{popup.title}}</span><span ng-click="popup.close()" style="cursor:pointer; font-weight: bold; float: right; margin-right: 10px;">X</span>
            </div>
            <div style="position: absolute; border-radius: 0px 0px 15px 15px; width: 100%; top: 30px; bottom: 0px; background:linear-gradient(to bottom, rgba(44,62,80,1) 0%, rgb(106, 115, 130) 100%);" class="{{popup.type == 'error' ? 'fa fa-exclamation-triangle' : (popup.type == 'info' ? 'fa fa-info-circle' : '') }}">
                <div ng-if="popup.content" style="position:absolute; top: 20px; left: 40px; right: 140px; color: #0C64A5; text-align: left; font-size: 18px;">
                    <span style="word-wrap:break-word">{{popup.content}}</span>
                </div>
                <div ng-if="popup.url" compile="popup.url" style="overflow: auto; position:absolute; top: 20px; left: 20px; right: 20px; bottom:20px;"></div>
                <div style="position: absolute; right: 0px; left:0px; height:35px; bottom: 10px; text-align:right;">
                    <div ng-repeat="btn in popup.buttons" ng-click="btn.callback(btn.isActive())" style="opacity:{{btn.isActive() ? '1' : '0.3'}}; cursor:pointer; background: #105B76; width: {{btn.width}}; height: 35px; margin-right:20px; display: inline-block; color: white; line-height: 35px; text-align: center; font-size: 20px;">
                        {{btn.label}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
