<script src="assets/js/zoomcharts/zoomcharts.js" type="text/javascript"></script>
<script src="assets/js/zoomcharts/social.js" type="text/javascript"></script>
<div class="area-la" id="chartDiv" style=" "></div>